<div layout-gt-sm="row">

    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="curso">Curso</label>
        <md-icon class="material-icons">school</md-icon>
        <md-select ng-model="ctrl.curso.id" ng-change="ctrl.buscarEtapas()" id="curso" name="curso">
            <md-option value=""></md-option>
            <md-option ng-repeat="item in ctrl.cursos track by $index" value="{{ item.id }}">{{ item.nome }}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="etapa">Etapa</label>
        <md-icon class="material-icons">school</md-icon>
        <md-select ng-model="ctrl.etapa.id" ng-change="ctrl.buscarDisciplinas()" id="etapa" name="etapa">
            <md-option value=""></md-option>
            <md-option ng-repeat="item in ctrl.etapas track by $index" ng-value="item.id">{{ item.nome }}</md-option>
        </md-select>
    </md-input-container>

</div>