<div class="row card" style="margin-top: 0;">
    <div class="col s12 aula-content">
        <h5>Aulas do Dia 02/02/0202</h5>
        <div class="caption-typo">Turma XYZ - Nº Ano</div>
        <div class="body-typo">
            <div class="input-field col s12 m12 l6">
                <i class="material-icons prefix">book</i>
                <input id="apelidoTurma" checked type="checkbox" />
                <label class="aula-todos" for="apelidoTurma">Todos</label>
            </div>
            <div class="input-field col s12 m12 l6">
                <input id="justificativa1" type="text" class="just" placeholder="Justificativa" />
                <i data-justificativa="justificativa1" class="material-icons prefix right-align edit-aula">create</i>
            </div>
            <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">book</i>
                <input id="apelidoTurma1" class="check" checked type="checkbox" />
                <label class="aula-dia" for="apelidoTurma1">Aula 1 - Geografia</label>
                <i class="material-icons prefix right-align edit-aula">create</i>
            </div>
            <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">book</i>
                <input id="apelidoTurma2" class="check" checked type="checkbox" />
                <label class="aula-dia" for="apelidoTurma2">Aula 2 - Matemática</label>
                <i class="material-icons prefix right-align edit-aula">create</i>
            </div>
            <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">book</i>
                <input id="apelidoTurma3" class="check" checked type="checkbox" />
                <label class="aula-dia" for="apelidoTurma3">Aula 3 - Arte</label>
                <i class="material-icons prefix right-align edit-aula">create</i>
            </div>
            <div class="input-field col s12 m12 l12" style="margin-bottom: 25px !important;">
                <i class="material-icons prefix">book</i>
                <input id="apelidoTurma4" class="check" checked type="checkbox" />
                <label class="aula-dia" for="apelidoTurma4">Aula 4 - Arte</label>
                <i class="material-icons prefix right-align edit-aula">create</i>
            </div>
        </div>
    </div>
</div>