security:
    
    encoders:
        AuthBundle\Entity\Usuario:
            algorithm: md5
            iterations: 0
            encode_as_base64: false
        
    providers:
        main:
            entity:
                class: AuthBundle\Entity\Usuario
                property: username

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        
        authentication:
            pattern: ^/api/tokens
            stateless: true
            anonymous: true
        
        api_interna:
            pattern: ^/apix/
            stateless: true
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator
                    
    access_control:
        - { path: ^/api/tokens, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }