{% block assinaturas %}
<column-layout number-of-columns="3" equals-columns="true" margin-top="50px" font-size="10px">
    <div breakable="false">
        <p text-align="center" >
            ___________________________________<br/>
            {{d.professor}}<br/>
            Professor
        </p>
    </div>
    <column-break />
    <div breakable="false" text-align="center">
        <p text-align="center">
            ___________________________________<br/>
            <br/>
            Supervisor Escolar
        </p>
    </div>
    <column-break />
    <div breakable="false">
        <p text-align="center">
            ___________________________________<br/>
            {{ app.user ? app.user.pessoa.nome : '' }}<br/>
            Secretário Escolar
        </p>
    </div>
    <column-break />
</column-layout> 
{% endblock %}
                            