{% block info %}
    <p>
        {{turma.etapa.nome}} - Turma {{turma.nomeExibicao}}
    </p>
    <p>
        Disciplina: {{d.disciplina}}
    </p>
    <p>
        Prof. {{d.professor}}
    </p>
{% endblock %}
                            