{% block info %}
    <p>
        Turma {{turma.nomeExibicao}}
    </p>
    <p>
        Disciplina: {{d.disciplina}}
    </p>
    <p>
        Prof. {{d.professor}}
    </p>
{% endblock %}
                                