@font-face {
    font-family: Roboto;
    src: url(../../../../../../lib/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../../../../../../lib/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoThin;
    src: url(../../../../../../lib/fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(../../../../../../lib/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: RobotoBlack;
    src: url(../../../../../../lib/fonts/roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: Product;
    src: url(../../../../../../lib/fonts/product/ProductSans-Regular.ttf);
}

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../../../../../../lib/fonts/material-font.woff2) format('woff2');
}

.material-icons {
  font-family: Material Icons;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* latin */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Product Sans'), local('ProductSans-Regular'), url(../../../../../../lib/fonts/productsans-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}