/* List */

.collection .collection-item {
    padding: 0 !important;
    padding-top: 1px !important;
    padding-left: 20px !important;
    padding-bottom: 0 !important;
    line-height: 1.5em;
    cursor: pointer;
    border-bottom: 1px solid #eee !important;
}

.blue-light {
    -webkit-box-shadow: inset 0px 0px 0px 0px #03a9f4;
    -moz-box-shadow:    inset 0px 0px 0px 0px #03a9f4;
    box-shadow:         inset 0px 0px 0px 0px #03a9f4;
    position: fixed;
    bottom: 0px;
    width: 110%;
    height: 120%;
    margin-left: -5%;
    transition: all 0.3s ease !important;
    z-index: -1;
    /*display: none;*/
}

.blue-light-active {
    -webkit-box-shadow: inset 0px -4px 88px 0px #03a9f4 !important;
    -moz-box-shadow:    inset 0px -4px 88px 0px #03a9f4 !important;
    box-shadow:         inset 0px -4px 88px 0px #03a9f4 !important;
    z-index: 1 !important;
}

.pagination {
    padding-top: 1.5rem;
}

.elemento-lista {
    padding: 1.5rem 0 0.8rem 0.5rem !important;
}

.elemento-lista:nth-child(even) {
    background-color: #f2f2f2;
}

.elemento-lista:last-child {
    border-bottom: 1px solid #e0e0e0;
}

.collection {
      border: none !important;
}

.popout-title{
    float: left;
    width: 90%;
}

.underline:hover {
    text-decoration: underline;
}

.pagination {
    margin-left: 1.5rem;
}

.pagination li {
    background-color: #f3f4f4;
    margin-right: 0.3rem;
    min-width: 2.7rem;
    vertical-align: bottom;
}

.static-element {
    margin-left: -0.3rem !important;
}

.static-element:nth-child(2) {
    margin-right: 0;
}

.static-element:nth-child(3) {
    margin-left: 0 !important;
    margin-right: 0;
}

.sem-background {
    background-color: #fff !important;
    min-width: 0 !important;
    padding: 0 0.2rem !important;
}

.dinamic-element:first-child {
    margin-left: -0.3rem !important;
}

.table-pattern th, .table-pattern td {
    text-align: center;
}

.table-pattern th:first-child, .table-pattern td:first-child {
    text-align: left;
}

.table-pattern th:first-child {
    padding-left: 1.3rem;
}

.table-pattern td {
    padding: 1.7rem;
}

.celula-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.padding-duas-linhas {
    padding-top: 12px !important;
    padding-bottom: 10px !important;
}

.collection-item:hover {
    background: #f2f2f2 !important;
}

.delete-icon, .info-icon, .grey-icon { color: #757575; }
.delete-icon:hover { color: #fe6363 !important; cursor: pointer; }
.info-icon:hover { color: #42a5f5 !important; cursor: pointer; }

ul {
    list-style: none !important;
}

p {
    color: rgba(0, 0, 0, 0.71);
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.secondary-content {
    margin-top:1px;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 18.65px;
    background: #c0392b;
}

.secondary-content:hover {
    background: #e74c3c;
}

.remove_icon {
    color: #fafafa;
}

.busca {
    position: fixed;
    top: 0px;
    z-index: 2;
    background: #03A9F4 !important;
}

.padding-top-2 {
    padding-top: 2rem !important;
}

.table-list td {
    padding: 1.8rem 0 1.8rem 1rem !important
}

.swipeable {
    padding: 0;
}

.swipeable-uma-linha{
    padding-top: 22px !important;
    padding-bottom: 21px !important;
}

.lista-desktop {
    padding: 2rem;
}

@media only screen and (min-width : 993px) {
    .mobile-delete {
        display: none !important;
    }
}