{% extends '::template.html.twig' %}

{% block body %}
    <div class="alert alert-danger text-center">
        <h2>Ops! Algum imprevisto ocorreu ;(</h2>
        <h4>{{ status_text }}</h4>
    </div>
{% endblock %}
