<div layout-gt-sm="row">

    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="nome">Nome</label>
        <md-icon class="material-icons">account_circle</md-icon>
        <input id="nome" ng-model="turno.nome" type="text" name="nome" required/>
        <div ng-messages="turnoForm.turno.nome.$error" class="errors-wrapper">
            <div ng-message="required">Este campo é obrigatório.</div>
        </div>
    </md-input-container>

</div>
<div layout-gt-sm="row">

    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="inicio">Início</label>
        <md-icon class="material-icons">access_time</md-icon>
        <input id="nome" ng-model="turno.inicio" class="maskHora" type="text" name="inicio" required/>
        <div class="hint">Apenas Números</div>
        <div ng-messages="turnoForm.turno.inicio.$error" class="errors-wrapper">
            <div ng-message="required">Este campo é obrigatório.</div>
        </div>
    </md-input-container>

    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="inicio">Término</label>
        <md-icon class="material-icons">access_time</md-icon>
        <input id="nome" ng-model="turno.termino" class="maskHora" type="text" name="inicio" required/>
        <div class="hint">Apenas Números</div>
        <div ng-messages="turnoForm.turno.termino.$error" class="errors-wrapper">
            <div ng-message="required">Este campo é obrigatório.</div>
        </div>
    </md-input-container>

</div>