<div style="width: 100%; text-align: center; margin-top: 15%;">
    <i style="color: #999; font-size: 8rem;" class="material-icons">pan_tool</i>
    <br />
    <span style="font-size: 1.5rem; color: #999;">Um momentinho aí...</span>
    <br />
    <span style="font-size: 1rem; color: #999;">
        Vejo que você andou se perdendo por aí, hein? ;)
        <br />
        Mas eu vou te dar um ajuda, clique no botão abaixo que eu te levo de volta à página inicial.
    </span>
    <br /><br />
    <span style="font-size: 1rem; color: #999;"><em>Assinado: seu amigo, Erudio.</em></span>
    <br /><br />
    <a href="/#/" class="waves-effect waves-light btn blue darken-1">Me tire daqui!</a>
</div>