<div ng-controller="EventoHomeController as ctrl" ng-show="ctrl.disciplinaEscolhida">
    <div ng-show="ctrl.possuiEnturmacoes" style="border-bottom: 1px solid #eee; text-align: center; font-size: 1.5rem; padding: 10px 0 10px 0; background: #e0e0e0;">
        {{ ctrl.nomeMes }} / {{ ctrl.ano }}
    </div>
    <table ng-show="ctrl.possuiEnturmacoes" class="w100 calendar-table" md-swipe-right="ctrl.paginaProxima()" md-swipe-left="ctrl.paginaAnterior()">
        <thead hide show-gt-sm><th>Domingo</th><th>Segunda</th><th>Terça</th><th>Quarta</th><th>Quinta</th><th>Sexta</th><th>Sábado</th></thead>
        <thead hide-gt-sm><th>Dom</th><th>Seg</th><th>Ter</th><th>Qua</th><th>Qui</th><th>Sex</th><th>Sáb</th></thead>
        <tbody>
            <tr ng-repeat="semana in ctrl.mesCalendario">
                <td ng-class="ctrl.classeTipoDia(semana[0])" md-truncate>
                    {{ semana[0].data | date:'dd' }}<br />
                    <div hide show-gt-sm ng-show="semana[0].eventos[0].evento.nome" class="evento-calendario">{{ semana[0].eventos[0].evento.nome }}</div>
                </td>
                <td ng-class="ctrl.classeTipoDia(semana[1])" ng-click="ctrl.abrirDia(semana[1])" md-truncate>
                    {{ semana[1].data | date:'dd' }}<br />
                    <div hide show-gt-sm ng-show="semana[1].eventos[0].evento.nome" class="evento-calendario">{{ semana[1].eventos[0].evento.nome }}</div>
                    <span hide-gt-sm><md-icon ng-show="{{ semana[1].eventos.length }}" class="material-icons botao-calendario-mobile">star</md-icon></span>
                </td>
                <td ng-class="ctrl.classeTipoDia(semana[2])" ng-click="ctrl.abrirDia(semana[2])" md-truncate>
                    {{ semana[2].data | date:'dd' }}<br />
                    <div hide show-gt-sm ng-show="semana[2].eventos[0].evento.nome" class="evento-calendario">{{ semana[2].eventos[0].evento.nome }}</div>
                    <span hide-gt-sm><md-icon ng-show="{{ semana[2].eventos.length }}" class="material-icons botao-calendario-mobile">star</md-icon></span>
                </td>
                <td ng-class="ctrl.classeTipoDia(semana[3])" ng-click="ctrl.abrirDia(semana[3])" md-truncate>
                    {{ semana[3].data | date:'dd' }}<br />
                    <div hide show-gt-sm ng-show="semana[3].eventos[0].evento.nome" class="evento-calendario">{{ semana[3].eventos[0].evento.nome }}</div>
                    <span hide-gt-sm><md-icon ng-show="{{ semana[3].eventos.length }}" class="material-icons botao-calendario-mobile">star</md-icon></span>
                </td>
                <td ng-class="ctrl.classeTipoDia(semana[4])" ng-click="ctrl.abrirDia(semana[4])" md-truncate>
                    {{ semana[4].data | date:'dd' }}<br />
                    <div hide show-gt-sm ng-show="semana[4].eventos[0].evento.nome" class="evento-calendario">{{ semana[4].eventos[0].evento.nome }}</div>
                    <span hide-gt-sm><md-icon ng-show="{{ semana[4].eventos.length }}" class="material-icons botao-calendario-mobile">star</md-icon></span>
                </td>
                <td ng-class="ctrl.classeTipoDia(semana[5])" ng-click="ctrl.abrirDia(semana[5])" md-truncate>
                    {{ semana[5].data | date:'dd' }}<br />
                    <div hide show-gt-sm ng-show="semana[5].eventos[0].evento.nome" class="evento-calendario">{{ semana[5].eventos[0].evento.nome }}</div>
                    <span hide-gt-sm><md-icon ng-show="{{ semana[5].eventos.length }}" class="material-icons botao-calendario-mobile">star</md-icon></span>
                </td>
                <td ng-class="ctrl.classeTipoDia(semana[6])" class="no-calendar-right-border" md-truncate>
                    {{ semana[6].data | date:'dd' }}<br />
                    <div hide show-gt-sm ng-show="semana[6].eventos[0].evento.nome" class="evento-calendario">{{ semana[6].eventos[0].evento.nome }}</div>
                </td>
            </tr>
        </tbody>
    </table>
    <paginador ng-show="ctrl.possuiEnturmacoes" class="paginador-home"></paginador>

    <div layout="row" ng-if="!ctrl.possuiEnturmacoes" layout-align="center center" style="margin-top: 25px;">
        Não há alunos enturmados.
    </div>
</div>
