erudio-server/vendor
erudio-server/var
erudio-server/web/bundles
erudio-server/composer\.lock
erudio-server/app/config/parameters\.yml
erudio-server/nbproject
erudio-front-beta/nbproject
erudio-front-beta/node_modules
erudio-front/nbproject
erudio-front/app/modules/main/services/erudioConfig\.js
/erudio-server/uploads/
