<div layout-gt-sm="row" data-ng-init="preencheCEP()">
    <form-input grid="flex-gt-sm" identidade="instituicaoEnderecoCep" label="'CEP'" dica="'Apenas Números'" classe="'maskCEP'" maximo="'8'" tipo="'text'" nome="'cep'" model="instituicao.endereco" campo="cep"></form-input>
    <form-input grid="flex-gt-sm" identidade="instituicaoEnderecoLogradouro" label="'Logradrouro'" tipo="'text'" nome="'logradouro'" model="instituicao.endereco" campo="logradouro"></form-input>
</div>
<div layout-gt-sm="row">
    <form-input grid="flex-gt-sm" identidade="instituicaoEnderecoNumero" dica="'Apenas Números'" classe="maskNumeroCasa" label="'Número'" tipo="'text'" nome="'numero'" model="instituicao.endereco" campo="numero"></form-input>
    <form-input grid="flex-gt-sm" identidade="instituicaoEnderecoComplemento" label="'Complemento'" tipo="'text'" nome="'complemento'" model="instituicao.endereco" campo="complemento"></form-input>
    <form-input grid="flex-gt-sm" identidade="instituicaoEnderecoBairro" label="'Bairro'" tipo="'text'" nome="'bairro'" model="instituicao.endereco" campo="bairro"></form-input>
</div>
<div layout-gt-sm="row">
    <form-select grid="flex-gt-sm" identidade="instituicaoEnderecoEstado" label="'Estado'" nome="'estado'" obrigatorio="required">
        <md-select ng-model="instituicao.endereco.cidade.estado.id" ng-change="buscarCidades(instituicao.endereco.cidade.estado.id)">
            <md-option value=""></md-option>
            <md-option ng-repeat="estado in estados" value="{{ estado.id }}">{{ estado.nome }}</md-option>
        </md-select>
    </form-select>
    
    <form-select grid="flex-gt-sm" identidade="instituicaoEnderecoCidade" label="'Cidade'" nome="'cidade'" obrigatorio="required">
        <md-select ng-model="instituicao.endereco.cidade.id">
            <md-option value=""></md-option>
            <md-option ng-repeat="cidade in cidades" value="{{ cidade.id }}">{{ cidade.nome }}</md-option>
        </md-select>
    </form-select>
</div> 
<div layout-gt-sm="row">
    <mapa class="mapaWrapper" data-ng-init="initMapa(instituicao.endereco.latitude, instituicao.endereco.longitude)"></mapa>
</div>