<div layout-gt-sm="row" data-ng-init="preencheCEP()">
    <input-instituicao-endereco type="text" model="cep"></input-instituicao-endereco>
    <input-instituicao-endereco type="text" model="logradouro"></input-instituicao-endereco>
</div>
<div layout-gt-sm="row">
    <input-instituicao-endereco type="text" model="numero"></input-instituicao-endereco>
    <input-instituicao-endereco type="text" model="complemento"></input-instituicao-endereco>
    <input-instituicao-endereco type="text" model="bairro"></input-instituicao-endereco>
</div>
<div layout-gt-sm="row">
    <select-instituicao-endereco type="text" model="cidade.estado.id" items="estados"></select-instituicao-endereco>
    <select-instituicao-endereco type="text" model="cidade.id" items="cidades"></select-instituicao-endereco>
</div> 
<div layout-gt-sm="row">
    <mapa class="mapaWrapper"></mapa>
</div>