<div class="row h100" ng-cloak ng-controller="ProfessorController as ctrl">
    <md-content class="h100">

        <div class="row" ng-if="ctrl.disciplinasLecionadas.length > 1" style="margin-top: 10px;">
            <md-input-container class="md-icon-float" md-block flex-gt-sm>
                <label for="turma">Turma</label>
                <md-icon class="material-icons">class</md-icon>
                <md-select ng-model="ctrl.turmaSelecionada" ng-change="ctrl.refresh()" id="turma" name="turma" required>
                    <md-option value=""></md-option>
                    <md-option ng-repeat="item in ctrl.disciplinasLecionadas track by $index" ng-value="item">{{ item.nomeExibicao }} - {{ item.turma.nome }} - {{ item.turma.unidadeEnsino }}</md-option>
                </md-select>
            </md-input-container>
        </div>

        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab aria-label="aulas" label="aulas" ng-click="ctrl.inserirConteudo('aulas')">
                <md-content>
                    <div class="row" ng-include="ctrl.aulasTemplate"></div>
                </md-content>
            </md-tab>

            <md-tab id="avaliacoesTab" aria-label="avaliações" label="avaliações" ng-click="ctrl.inserirConteudo('avaliacoes')">
                <md-content class="md-padding">
                    <div class="row" ng-include="ctrl.avaliacoesTemplate"></div>
                </md-content>
            </md-tab>

            <md-tab aria-label="médias finais" label="médias finais" ng-click="ctrl.inserirConteudo('medias')">
                <md-content class="md-padding">
                    <div class="row" ng-include="ctrl.mediasTemplate"></div>
                </md-content>
            </md-tab>

            <md-tab aria-label="eventos" label="eventos" ng-click="ctrl.inserirConteudo('eventos')">
                <md-content>
                    <div class="row" ng-include="ctrl.eventosTemplate"></div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>