{% extends 'FilaUnicaBundle:Index:index.html.twig' %}

{% block headerTitle %} Fila Única > Glossário de Termos {% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        <li> 
            <a href="{{ path('fu_promotoria_formFila') }}">Consulta Fila</a>
        </li>
        <li>
            <a href="{{ path('fu_promotoria_formPesquisa') }}">Pesquisa de Inscrição</a>
        </li>
        <li class="active">
            <a href="#">Glossário</a>
        </li>
    </ul>
    <div class="container">
        <br/>
        <table class="table table-hover table-striped">
            <tr>
                <th>P.J. - Processo Judicial</th>
                <td>Cadastro ou transferência em espera associado a uma ordem judicial</td>
            </tr>
            <tr>
                <th>M.I. - Movimentação Interna</th>
                <td>Cadastro em espera que foi realizado com erros, e após efetuadas as correções solicitadas por um responsável, moveu-se para outra fila ou posição</td>
            </tr>
            <tr>
                <th>Status: Em Reserva</th>
                <td>Estado inicial de um cadastro até que ele entre em sua fila na próxima reclassificação. Quando uma fila se esgota, ela é reclassificada isoladamente puxando todos os seus cadastros em reserva</td>
            </tr>
            <tr>
                <th>Reclassificação</th>
                <td>Operação realizada trimestralmente, que calcula as pontuações de todos os cadastros em reserva e os coloca em suas filas, reordenando as posições de acordo</td>
            </tr>
        </table>    
    </div>
{% endblock %}
