<div layout-gt-sm="row">
    <form-input grid="flex-gt-sm" identidade="tipoNome" label="'Tipo de Unidade'" tipo="'text'" troca="validaCampo()" nome="'nome'" obrigatorio="required" model="tipo" campo="nome" erro="'tiposUnidadeForm.nome.$error'" mensagem="'required,Este campo é obrigatório'"></form-input>
    <form-input grid="flex-gt-sm" identidade="tipoSigla" label="'Sigla'" tipo="'text'" nome="'sigla'" troca="validaCampo()" model="tipo" campo="sigla" obrigatorio="required" erro="'tiposUnidadeForm.sigla.$error'" mensagem="'required,Este campo é obrigatório'"></form-input>
</div>