{% extends 'DGPBundle:Servidor:index.html.twig' %}

{% block headerTitle %}Requerimento de Acesso ao Acervo Técnico{% endblock %}

{% block page %}
    <form method="post" action="{{url('protocolo_servidor_incluirSolicitacao', {'solicitacao': solicitacao.id})}}">
        <div class="row">
            <div class="col-lg-6">
                <label for="matricula">Matrícula:</label>
                <input type="text" name="matricula" class="form-control"/>
            </div>
            <div class="col-lg-6">
                <label for="setor">Setor solicitante:</label>
                <input type="text" name="setor" class="form-control" required="true"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="responsavel">Responsável:</label>
                <input type="text" name="responsavel" class="form-control" required="true"/>
            </div>
            <div class="col-lg-6">
                <label for="responsavel">Forma de resposta:</label>
                <select name="resposta" class="form-control" required="true">
                    <option value="Cópia">Cópia</option>
                    <option value="Original">Original</option>
                    <option value="Vistas">Vistas</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="tipo_documental">Tipo documental (departamento/mês/ano):</label>
                <textarea name="tipo_documental" class="form-control" cols="40" rows="5" required="true"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button id="btnIncluir" type="submit" class="btn btn-primary">Incluir</button>
            </div>
        </div>
    </form>
{% endblock %}