{% extends 'DGPBundle:Servidor:index.html.twig' %}

{% block headerTitle %}Requerimento de Auxílio Financeiro para Curso de Especialização (Lato Sensu){% endblock %}

{% block page %}
    <form method="post" action="{{url('protocolo_servidor_incluirSolicitacao', {'solicitacao': solicitacao.id})}}">
        <div class="row">    
            <div class="col-lg-6">
                <label for="matricula">Matrícula:</label>
                <input type="text" name="matricula" class="form-control"  required />
            </div>
            <div class="col-lg-6">
                <label for="alocacao">Função atual:</label>
                <select name="alocacao" class="form-control" required >
                    {% for vinculo in vinculos %}
                        {% for alocacao in vinculo.alocacoes %}
                            <option value="{{alocacao.id}}">{{alocacao.funcaoAtual}} - {{alocacao.localTrabalho.pessoaJuridica.nome}}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label for="curso">Nome do curso:</label>
                <input type="text" name="curso" class="form-control"  required />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button id="btnIncluir" type="submit" class="btn btn-primary">Incluir</button>
            </div>
        </div>
    </form>
{% endblock %}