{% extends 'DGPBundle:Servidor:index.html.twig' %}

{% block headerTitle %}Requerimento de Auxílio Financeiro para Curso de Mestrado/Doutorado{% endblock %}

{% block page %}
    <form method="post" action="{{url('protocolo_servidor_incluirSolicitacao', {'solicitacao': solicitacao.id})}}">
        <div class="row">    
            <div class="col-lg-6">
                <label for="matricula">Matrícula:</label>
                <input type="text" name="matricula" class="form-control"  required="true"/>
            </div>
            <div class="col-lg-6">
                <label for="alocacao">Função atual:</label>
                <select name="alocacao" class="form-control" required="true">
                    {% for vinculo in vinculos %}
                        {% for alocacao in vinculo.alocacoes %}
                            <option value="{{alocacao.id}}">{{alocacao.funcaoAtual}} - {{alocacao.localTrabalho.pessoaJuridica.nome}}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label for="tipo_curso">Curso superior:</label>
                <select name="tipo_curso" class="form-control" required="true">
                    <option value="MESTRADO em ">MESTRADO em</option>
                    <option value="DOUTORADO em ">DOUTORADO em</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label for="tipo_curso">Curso:</label>
                <input type="text" name="curso" class="form-control"  required="true"/>
            </div>
            <div class="col-lg-3">
                <label for="data_inicio">Início do curso:</label>
                <input type="text" name="data_inicio" class="form-control datepickerSME"  required="true"/>
            </div>
            <div class="col-lg-3">
                <label for="data_termino">Término do curso:</label>
                <input type="text" name="data_termino" class="form-control datepickerSME"  required="true"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label for="instituicao">Instituição:</label>
                <input type="text" name="instituicao" class="form-control" required="true"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button id="btnIncluir" type="submit" class="btn btn-primary">Incluir</button>
            </div>
        </div>
    </form>
{% endblock %}