<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">{% block modalTitle %}Info{% endblock %}</h3>
    </div>
    <div class="modal-body">
        {% block css %}{% endblock %}
        {% block modalBody %}{% endblock %}
        <script type="text/javascript" >
            {% for message in app.session.flashbag.get('message') %}
                $.bootstrapGrowl("{{message}}", { type: 'info', delay: 5000 });
            {% endfor %}
            {% for error in app.session.flashbag.get('error') %}
                $("#error").html("{{error}}");
                $("#modalError").modal("show");
            {% endfor %}
            $(function() {
                $( ".datepickerSME" ).datetimepicker({
                    'timepicker': false, 
                    'format': 'd/m/Y', 
                    'scrollInput': false
                });
                $(".datetimepickerSME").datetimepicker({'scrollInput': false});
            });
        </script>
        {% block javascript %}{% endblock %}
    </div>
</div>
