{% extends 'FilaUnicaBundle:Index:index.html.twig' %}

{% block headerTitle %} Fila Única > Inscrição > Impressão do Termo de Desistência{% endblock %}

{% block page %}
    <div class="text-center">
        <div class="alert alert-info">
            <p> O protocolo {{inscricao.protocolo}} foi cancelado por desistência</p>
            <a target="_blank" class="alert-link" href="{{url('fu_inscricao_imprimirTermoDesistencia', {'inscricao': inscricao.id})}}">[ Imprimir termo de desistência ]</a>
        </div>
    </div>
{% endblock %}