<div data-ng-click="fecharFormulario('')" data-ng-show="editando" class="btn-voltar hide-on-med-and-down">
    <a class="tooltipped btn-floating btn waves-effect waves-circle waves-light grey lighten-4" data-position="left" data-delay="50" data-tooltip="Voltar"><i style="color: #212121;" class="material-icons">arrow_back</i></a>
</div>

<!-- Barra de Progresso -->
<div data-ng-show="cortina" class="progress" style="top: -8px !important;">
      <div class="indeterminate"></div>
</div>
<div data-ng-show="cortina" class="cortinaProgresso"></div>