<div layout-gt-sm="row">
            
    <md-input-container class="md-icon-float" md-block flex-gt-sm ng-show="ctrl.isAdmin">
        <md-icon class="material-icons">account_balance</md-icon>
        <md-autocomplete class="autocomplete-form" flex md-input-minlength="3" md-selected-item="ctrl.scope.unidade" 
                md-search-text="ctrl.itemBusca" md-items="item in ctrl.filtrar(ctrl.itemBusca)"  md-input-name="unidade"
                md-item-text="item.nomeCompleto" md-floating-label="Unidade de Ensino">
            <span md-highlight-text="ctrl.itemBusca">{{ item.nomeCompleto }}</span>
        </md-autocomplete>
    </md-input-container>

    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="curso">Curso</label>
        <md-icon class="material-icons">school</md-icon>
        <md-select ng-model="ctrl.curso.id" ng-change="ctrl.buscarEtapas()" id="curso" name="curso">
            <md-option value=""></md-option>
            <md-option ng-repeat="item in ctrl.cursos track by $index" value="{{ item.curso.id }}">{{ item.curso.nome }}</md-option>
        </md-select>
    </md-input-container>

</div>

<div layout-gt-sm="row">

    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="etapa">Etapa</label>
        <md-icon class="material-icons">school</md-icon>
        <md-select ng-model="ctrl.etapa.id" ng-change="ctrl.buscarTurmas()" id="etapa" name="etapa">
            <md-option value=""></md-option>
            <md-option ng-repeat="item in ctrl.etapas track by $index" value="{{ item.id }}">{{ item.nome }}</md-option>
        </md-select>
    </md-input-container>
    
    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="turma">Turma</label>
        <md-icon class="material-icons">school</md-icon>
        <md-select ng-model="ctrl.turma.id" id="turma" name="turma">
            <md-option value=""></md-option>
            <md-option ng-repeat="item in ctrl.turmas track by $index" value="{{ item.id }}">{{ item.nomeCompleto }}</md-option>
        </md-select>
    </md-input-container>
    
    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="mes">Mês</label>
        <md-icon class="material-icons">event</md-icon>
        <md-select ng-model="ctrl.mes" ng-change="ctrl.mostrarImpressao()" id="mes" name="mes">
            <md-option value=""></md-option>
            <md-option ng-repeat="item in ctrl.meses track by $index" value="{{ $index+1 }}">{{ item }}</md-option>
        </md-select>
    </md-input-container>

</div>

<md-button md-colors="::{backgroundColor: 'default-accent-500'}" ng-show="ctrl.turma.id !== null && ctrl.turma.id !== ''" style="margin-bottom: 20px;" ng-click="ctrl.imprimir('TURMA')" class="md-raised save-button-fix">IMPRIMIR</md-button>
<md-button style="margin-bottom: 20px;" ng-click="ctrl.limparBusca()" class="md-raised md-primary save-button-fix">Limpar Busca</md-button>