<div layout-gt-sm="row">
    <form-input grid="flex-gt-sm" identidade="cursoNome" label="'Nome do Curso'" model="curso" obrigatorio="required" campo="nome" tipo="'text'" nome="'nome'" classe="'input-ajuste'" erro="'cursoForm.nome.$error'" mensagem="'required,Este campo é obrigatório'"></form-input>
    <form-select grid="flex-gt-sm" identidade="cursoModalidade" label="'Modalidade'" nome="'modalidade'" obrigatorio="required" erro="'cursoForm.modalidade.$error'" mensagem="'required,Este campo é obrigatório'">
        <md-select ng-model="curso.modalidade.id" required >
            <md-option value=""></md-option>
            <md-option ng-repeat="modalidade in modalidades track by $index" value="{{ modalidade.id }}">{{ modalidade.nome }}</md-option>
        </md-select>
    </form-select>
</div>
<div layout="row" layout-wrap>
    <div flex="100" layout="row">
        <md-checkbox ng-model="curso.alfabetizatorio">Curso Alfabetizatório</md-checkbox>
        <!-- <md-checkbox ng-model="curso.especializado">Curso Especializado</md-checkbox> -->
    </div>
</div>