<div class="lista-items" ng-repeat="subheader in ctrl.subheaders">
    <md-subheader data-ng-show="ctrl.objetos.length" class="md-primary">{{ subheader.label }}</md-subheader>

    <md-card class="no-margin-up" style="margin-bottom: 60px;">
        <md-card-content class="no-padding">
            <md-list flex class="no-padding white-content">

                <md-list-item id="objeto{{ objeto.id }}" class="md-2-line lista-objetos" ng-repeat="objeto in ctrl.objetos" md-truncate>
                    <a class="link-list" href="{{ ctrl.link+objeto.id }}"><div class="md-list-item-text" layout="column">
                        <div ng-include="ctrl.lista"></div>
                    </div></a>
                    <opcao-lista class="md-secondary"></opcao-lista>
                </md-list-item>

            </md-list>
        </md-card-content>
    </md-card>
    <fieldset ng-show="ctrl.finalLista"><legend>Você chegou ao final da lista.</legend></fieldset>
</div>

<botao-adicionar ng-show="ctrl.escrita"></botao-adicionar>
<div class="empty-state" data-ng-hide="ctrl.objetos.length">Nenhum item encontrado. :(</div>
<!-- <paginador data-ng-show="ctrl.objetos.length"></paginador> -->