<div class="paginador-wrapper">
    <div class="paginador-relative-full">
        <div class="paginador-left"> <md-button class="md-icon-button" ng-click="ctrl.paginaAnterior()" aria-label="Página Anterior"><md-icon class="material-icons">navigate_before</md-icon></md-button> </div>
        <div class="paginador-right"> <md-button class="md-icon-button" ng-click="ctrl.paginaProxima()" aria-label="Próxima Página"><md-icon class="material-icons">navigate_next</md-icon></md-button> </div>
    </div>
</div>