<div ng-cloak ng-controller="MediaController as ctrl" ng-show="ctrl.disciplinaEscolhida">

    <div ng-show="ctrl.possuiEnturmacoes" class="expansion-wrapper" ng-repeat="cursada in ctrl.cursadas track by $index">
        <div layout="row" layout-align="left center" ng-click="ctrl.abrirPainel($index, cursada.medias)" ng-class="ctrl.ultimoPainel($index)" style="padding: 5px 15px 5px 15px;" class="condensed-panel-{{ $index }} condensed-panel md-whiteframe-2dp relative">
            <img src="{{ cursada.matricula.aluno.foto }}" alt="{{ cursada.matricula.nomeAluno }}" class="avatar-mascara">
            <strong>{{ cursada.matricula.nomeAluno }}</strong>
        </div>
        <div class="expanded-panel-{{ $index }} expanded-panel md-whiteframe-3dp" data-index-id="{{ $index }}">
            <div layout="row" ng-click="ctrl.fecharPainel()" layout-align="left center" class="row expanded-title expanded-title-{{$index}}"><img src="{{ cursada.matricula.aluno.foto }}" alt="{{ cursada.matricula.nomeAluno }}" class="avatar-mascara"> <strong>{{ cursada.matricula.nomeAluno }}</strong></div>
            <div class="row" ng-repeat="media in cursada.medias track by $index" style="padding-top: 15px;">
                <md-subheader class="subheader-expansion" style="margin: 0 !important;">
                    <span style="margin-left: 5px;">{{ media.nome }} <span ng-hide="media.valor"> - Não calculado</span> <span ng-show="media.valor">- Nota:</span> <span class="media-valor-{{media.id}}">{{ media.valor }}</span></span>
                </md-subheader>
                <md-content style="background: #fff;">
                    <strong class="font-12" style="margin-left: 15px;">Composição da média:</strong>
                    <span class="font-12" ng-if="media.valor !== undefined && media.parciais.length === 0">Inserção Manual.</span>
                    <span class="font-12" ng-if="media.valor === undefined && media.parciais.length === 0">Sem avaliações cadastradas.</span>
                    <md-chips><md-chip ng-click="ctrl.redirectAvaliacao(parcial.avaliacao, cursada)" class="font-12 chip-click" ng-repeat="parcial in media.parciais">{{ parcial.avaliacao.nome }}: <span class="nota-avaliacao-{{parcial.avaliacao.id}}">{{ parcial.valor }}</span></md-chip></md-chips>
                </md-content>
                <md-button ng-if="media.valor === undefined && media.parciais.length > 0" md-colors="::{backgroundColor: 'default-accent-500'}" ng-click="ctrl.calcularMedia(media,$index)" class="md-raised" style="margin-left: 15px; margin-top: 10px;">Calcular Média</md-button>
                <md-divider style="margin-top: 10px;"></md-divider>
            </div>
        </div>
    </div>

    <div>
        
    </div>
    <md-button ng-show="ctrl.possuiEnturmacoes" md-colors="::{backgroundColor: 'default-accent-500'}" ng-click="ctrl.calcularMediaFinal()" class="md-raised" style="margin-left: 6px; margin-bottom: 15px; margin-top: 10px;">Calcular Média Final</md-button>

    <div layout="row" ng-if="!ctrl.possuiEnturmacoes" layout-align="center center" style="margin-top: 25px;">
        Não há alunos enturmados.
    </div>
</div>