{% extends 'PublicacaoBundle:Index:menu.html.twig' %}

{% block headerTitle %}Publicações SME > Categorias{% endblock %}

{% block page %}
    <div class="row">
        <div id="page" class="col-lg-10">
             
             <h4>Lista de Grupos (clique no nome para ver as categorias)</h4>
             
             <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Grupos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grupo in grupos %}
                        <tr>
                            <td><a href="{{ path('publicacao_categorias', { 'id': grupo.id }) }}">{{ grupo.nomeExibicao }}</a></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Não há grupos cadastrados</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}