<input type="hidden" id="urlFormacoes" value="{{ path('dgp_publico_getFormacoes') }}" />
<input type="hidden" id="urlFormacao" value="{{ path('dgp_publico_getFormacao', { id: 0 }) }}" />
<input type="hidden" id="urlFormacaoExterna" value="{{ path('formacao_externa_matricula', { formacao: 0 }) }}" />
<div class="container paddingTop">        
    <div class="row">
        <div class="col-lg-12" style="text-align: justify;">
            <p>Aqui você fica sabendo das formações continuadas abertas ao público que são ofertadas pela Secretaria Municipal de Educação.</p>
            <div id="formacoes">
            </div>
        </div>
    </div>
</div>

<div id="modalDialog" class="modal fade" role="dialog">
    <div id="divModal" class="modal-dialog" style="width: 80%;"></div>
</div>

<div id="modalDialogForm" class="modal fade" role="dialog">
    <div id="divModalForm" class="modal-dialog" style="width: 30%;"></div>
</div>