{% if app.request.isXmlHttpRequest() %}
{% else %}
<div class="container">
    <div class="row" style="margin: 20px; margin-top: -5px;">
        <div class="col md-12">
            <div class="ajaxPages" style="position: relative;">
{% endif %}
                <h3>Publicações</h3>
                <em>Clique na pastas e arquivos desejada para ver o seu conteúdo.</em>
                <hr />
                {% for grupo in grupos %}
                    <a class="folder_link" href="{{ path('publicacao_public_getCategorias', {'grupo': grupo.id}) }}"><div style="border-bottom:1px solid #ccc; padding: 10px;" class="col-md-12 folder_item"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> &nbsp; {{ grupo.nomeExibicao }}</div></a>
                {% else %}
                    <h5>Não há pastas ou arquivos neste grupo/categoria.</h5>
                {% endfor %}
{% if app.request.isXmlHttpRequest() %}
{% else %}
            </div>
        </div>
    </div>
</div>
{% endif %}