<div layout-gt-sm="row">
    <form-input grid="flex-gt-sm" identidade="disciplinaNome" label="'Nome da Disciplina'" tipo="'text'" troca="validaCampo()" nome="'nome'" obrigatorio="required" model="disciplina" campo="nome" erro="'disciplinaForm.nome.$error'" mensagem="'required,Este campo é obrigatório'"></form-input>
    <form-input grid="flex-gt-sm" identidade="disciplinaNomeExibicao" label="'Nome de Exibição'" tipo="'text'" troca="validaCampo()" nome="'nomeExibicao'" obrigatorio="required" model="disciplina" campo="nomeExibicao" erro="'disciplinaForm.nomeExibicao.$error'" mensagem="'required,Este campo é obrigatório'"></form-input>
</div>
<div layout-gt-sm="row">
    <form-input grid="flex-gt-sm" identidade="disciplinaSigla" label="'Sigla'" tipo="'text'" nome="'sigla'" model="disciplina" campo="sigla"></form-input>
    <form-input grid="flex-gt-sm" identidade="disciplinaCargaHoraria" classe="'maskCargaHoraria'" dica="'Apenas Números'" label="'Carga Horária'" obrigatorio="required" tipo="'text'" nome="'ordem'" model="disciplina" campo="cargaHoraria" erro="'disciplinaForm.cargaHoraria.$error'" mensagem="'required,Este campo é obrigatório'"></form-input>
</div>
<div layout-gt-sm="row">
    <form-select grid="flex-gt-sm" identidade="disciplinaCurso" label="'Curso'" nome="'curso'" obrigatorio="required" erro="'disciplinaForm.curso.$error'" mensagem="'required,Este campo é obrigatório'">
        <md-select ng-change="validaCampo(); buscarEtapas();" ng-model="disciplina.curso.id">
            <md-option value=""></md-option>
            <md-option ng-repeat="curso in cursos" value="{{ curso.id }}">{{ curso.nome }}</md-option>
        </md-select>
    </form-select>
    
    <form-select grid="flex-gt-sm" identidade="disciplinaEtapa" label="'Etapa'" nome="'etapa'" obrigatorio="required" erro="'disciplinaForm.etapa.$error'" mensagem="'required,Este campo é obrigatório'">
        <md-select ng-change="validaCampo()" ng-model="disciplina.etapa.id" required>
            <md-option value=""></md-option>
            <md-option ng-repeat="etapa in etapas" value="{{ etapa.id }}">{{ etapa.nome }}</md-option>
        </md-select>
    </form-select>
</div>
<div layout="row" layout-wrap><div flex="100" layout="row"><md-checkbox ng-model="disciplina.opcional">Disciplina Opcional</md-checkbox></div></div>