{% extends 'IntranetBundle:Index:administrador.html.twig' %}

{% block headerTitle %}Gerenciamento de permissões (roles){% endblock %}

{% block body %}
    <form id="formPesquisaRole" method="post">
        <div class="row">
            <div class="col-lg-6">
                <label for="nome" class="control-label">Nome: </label>
                <div class="input-group">
                    <input id="nome" name="nome" type="text" class="form-control"/>
                    <span class="input-group-btn">
                        <button id="btnPesquisar" type="submit" class="btn btn-primary">Pesquisar</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div id="divListaRoles" style="padding-top: 5px;"></div>
{% endblock %}
    
{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $("#btnPesquisar").click( function(ev) {
            ev.preventDefault();
            $.ajax({
                type: "POST",
                url: "{{path('intranet_admin_pesquisarRole')}}",
                data: $("#formPesquisaRole").serialize(),
                success: function(retorno){
                    $("#divListaRoles").html(retorno);  
                }
            });
        });
    </script>
{% endblock %}