{% extends 'IntranetBundle:Index:administrador.html.twig' %}

{% block headerTitle %}Gerenciamento de permissões (roles){% endblock %}

{% block body %}
    <table class="table table-striped table-hover tableRoles">
        <thead>
            <tr>
                <th>Nome de exibição</th>
                <th>Role</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
                <tr>
                    <td>{{role.nomeExibicao}}</td>
                    <td>{{role.role}}</td>
                    <td>
                        <a href="{{url('intranet_admin_listarRolesHerdadas', {'role': role.id})}}">Permissões herdadas</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
