@CHARSET "UTF-8";

.add_sub_category {
    position: absolute;
    margin-bottom: 2%;
    right: 18%;
    display: none;
}

.add_category {
    cursor: pointer;
}

.remove_sub_category {
    position: absolute;
    margin-bottom: 2%;
    right: 2%;
    display: none;
}

.nivel2 {
    background: #E0E0E0;
    border-bottom: 1px solid #BDBDBD;
}

.nivel3 {
    background: #BDBDBD;
    border-bottom: 1px solid #9E9E9E;
}

.nivel4 {
    background: #9E9E9E;
    border-bottom: 1px solid #757575;
}

.nivel5 {
    background: #757575;
    border-bottom: 1px solid #616161;
    color: #FAFAFA;
}

.nivel6 {
    background: #616161;
    border-bottom: 1px solid #424242;
    color: #FAFAFA;
}

.nivel7 {
    background: #424242;
    border-bottom: 1px solid #212121;
    color: #FAFAFA;
}

.nivel8 {
    background: #212121;
    border-bottom: 1px solid #000000;
    color: #FAFAFA;
}

.add-cat {
    display: none;
}