<div layout-gt-sm="row">

    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="nis">NIS</label>
        <md-icon class="material-icons">edit</md-icon>
        <input id="nis" ng-model="pessoa.nis" type="text" name="nis"/>
    </md-input-container>

    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="inep">INEP</label>
        <md-icon class="material-icons">edit</md-icon>
        <input id="inep" ng-model="pessoa.codigoInep" type="text" name="inep"/>
    </md-input-container>

    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="pis">PIS/PASEP</label>
        <md-icon class="material-icons">edit</md-icon>
        <input id="pis" ng-model="pessoa.pisPasep" type="text" name="pis" />
    </md-input-container>

</div>

<div layout-gt-sm="row">
    
    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="tipoCertidao">Tipo de Certidão</label>
        <md-icon class="material-icons">edit</md-icon>
        <md-select ng-model="ctrl.tipoCertidao" id="tipoCertidao" name="tipoCertidao">
            <md-option value="certidao">Certidão de Nascimento</md-option>
            <md-option value="certidao-antiga">Certidão de Nascimento Antiga(Termo/Livro/Folha)</md-option>
        </md-select>
    </md-input-container>

    <md-input-container ng-show="ctrl.tipoCertidao === 'certidao'" class="md-icon-float" md-block flex-gt-sm>
        <label for="certidao">Certidão de Nascimento</label>
        <md-icon class="material-icons">edit</md-icon>
        <input id="certidao" maxlength="32" ng-model="pessoa.certidaoNascimento" type="text" name="certidao"/>
    </md-input-container>

    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="dataCertidao">Data Expedição Certidão</label>
        <md-icon class="material-icons">edit</md-icon>
        <input class="maskData" id="dataCertidao" ng-model="pessoa.dataExpedicaoCertidaoNascimento" type="text" name="dataCertidao"/>
    </md-input-container>

    <md-input-container ng-show="ctrl.tipoCertidao === 'certidao-antiga'" class="md-icon-float" md-block flex-gt-sm>
        <label for="termo">Termo</label>
        <md-icon class="material-icons">edit</md-icon>
        <input id="termo" maxlength="7" ng-model="ctrl.termo" type="text" name="termo" />
    </md-input-container>

    <md-input-container ng-show="ctrl.tipoCertidao === 'certidao-antiga'" class="md-icon-float" md-block flex-gt-sm>
        <label for="livro">Livro</label>
        <md-icon class="material-icons">edit</md-icon>
        <input id="livro" maxlength="5" ng-model="ctrl.livro" type="text" name="livro" />
    </md-input-container>

    <md-input-container ng-show="ctrl.tipoCertidao === 'certidao-antiga'" class="md-icon-float" md-block flex-gt-sm>
        <label for="folha">Folha</label>
        <md-icon class="material-icons">edit</md-icon>
        <input id="folha" maxlength="3" ng-model="ctrl.folha" type="text" name="folha" />
    </md-input-container>

</div>

<div layout-gt-sm="row">
        
    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="rg">RG</label>
        <md-icon class="material-icons">edit</md-icon>
        <input id="rg" ng-model="pessoa.numeroRg" type="text" name="rg"/>
    </md-input-container>

    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="dataRg">Data Expedição RG</label>
        <md-icon class="material-icons">edit</md-icon>
        <input id="dataRg" class="maskData" ng-model="pessoa.dataExpedicaoRg" type="text" name="dataRg"/>
    </md-input-container>

    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="orgaoRg">Órgão Expedidor RG</label>
        <md-icon class="material-icons">edit</md-icon>
        <input id="orgaoRg" ng-model="pessoa.orgaoExpedidorRg" type="text" name="orgaoRg" />
    </md-input-container>

    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="cns">Cartão Nacional de Saúde(CNS)</label>
        <md-icon class="material-icons">edit</md-icon>
        <input id="cns" ng-model="pessoa.cns" type="text" name="cns" />
    </md-input-container>

</div>