<div layout-gt-sm="row">
        
        <md-input-container class="md-icon-float" md-block flex-gt-sm>
            <label for="senha">Senha</label>
            <md-icon class="material-icons">account_circle</md-icon>
            <input id="senha" ng-model="ctrl.senha" type="password" name="senha"/>
        </md-input-container>

        <md-input-container class="md-icon-float" md-block flex-gt-sm>
            <label for="novasenha">Nova Senha</label>
            <md-icon class="material-icons">account_circle</md-icon>
            <input id="novasenha" ng-model="ctrl.novaSenha" type="password" name="novasenha"/>
        </md-input-container>

</div>