<!DOCTYPE html>
<html lang="pt-br">    

{% block body %}
	<div style="background: #6699cc; width: 100%; float: left; box-shadow: 0px 5px 10px #000;">
		<img src="http://educacao.itajai.sc.gov.br/images/stories/logoo.png" style="width: 30%;" />
	</div>
	<div id="content" style="float: left; margin-top: 10px;">
		<h1>Olá {{ name }}.</h1>
		<p>
		Recebemos uma tentativa de <i>recuperação de senha</i>, caso não tenha solicitado, desconsidere esta mensagem.
		<br />
		Caso contrário, para recuperar sua senha de acesso, <a href="{{ url('intranet_set_new_password') }}?token={{ token }}">clique aqui.</a>
		<br /><br />
		Este link tem validade até o dia <strong>{{ expire }}</strong>.
		<br /><br />
		Atenciosamente.
		<br />
		Secretaria Municipal de Educação.
		</p>
	</div>
{% endblock %}
    
</html>    