<div class="container paddingTop">
    <div class="row">
        <div class="col-lg-6" style="text-align: justify;">
            Se você é servidor da rede e esta é a sua primeira vez na Intranet, você provavelmente ainda não possui um usuário.<br />
            Para criar um e ter acesso a todos os recursos, insira seu CPF (que será seu login), e uma senha com no mínimo 6 caracteres. Após a mensagem de que seu usuário foi criado, faça seu acesso na parte superior da página.
            <br /><br />
            Se você <strong>tentou acessar</strong> e recebeu uma mensagem de <strong>senha incorreta</strong>, isso quer dizer que você já tem um usuário, mas talvez tenha esquecido sua senha. Neste caso, clique em "solicitar nova senha" abaixo do botão "Entrar", e siga as instruções que serão enviadas ao seu e-mail.
            <br /><br />
        </div>

        <div class="col-lg-6" style="text-align: justify;">
            <form id="formCreateUser">
                <div class="input-group">
                    <span class="input-group-addon">CPF:</span>
                    <input class="form-control" placeholder="Digite o seu CPF" type="text" name="newUsername" id="newUsername" /><br />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Senha:</span>
                    <input class="form-control" placeholder="Digite sua senha" type="password" name="newPassword" id="newPassword" /><br />
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Repita sua senha:</span>
                    <input class="form-control" placeholder="Repita sua senha" type="password" name="new_repeat_password" id="new_repeat_password" /><br />
                </div>
                <button label="{{ path('intranet_create_user') }}" style="margin-top: 5px; margin-bottom: 15px;" class="btn btn-primary" id="btnCreateUser" type="submit" >Criar usuário</button>
            </form>
        </div>
    </div>
</div>