<div layout-gt-sm="row">
    <form-input grid="flex-gt-sm" identidade="etapaNome" label="'Nome da Etapa'" tipo="'text'" troca="validaCampo()" nome="'nome'" obrigatorio="required" model="etapa" campo="nome" erro="'etapaForm.nome.$error'" mensagem="'required,Este campo é obrigatório'"></form-input>
    <form-input grid="flex-gt-sm" identidade="etapaNomeExibicao" label="'Nome de Exibição'" tipo="'text'" troca="validaCampo()" nome="'nomeExibicao'" obrigatorio="required" model="etapa" campo="nomeExibicao" erro="'etapaForm.nomeExibicao.$error'" mensagem="'required,Este campo é obrigatório'"></form-input>
</div>
<div layout-gt-sm="row">
    <form-input grid="flex-gt-sm" identidade="etapaOrdem" classe="'maskOrdem'" dica="'Apenas Números'" label="'Ordem'" obrigatorio="required" tipo="'text'" nome="'ordem'" model="etapa" campo="ordem" erro="'etapaForm.ordem.$error'" mensagem="'required,Este campo é obrigatório'"></form-input>
    <form-input grid="flex-gt-sm" identidade="etapaLimiteAlunos" classe="'maskAlunos'" dica="'Apenas Números'" label="'Limite de Alunos'" obrigatorio="required" tipo="'text'" nome="'limiteAlunos'" model="etapa" campo="limiteAlunos" erro="'etapaForm.limiteAlunos.$error'" mensagem="'required,Este campo é obrigatório'"></form-input>
</div>
<div layout-gt-sm="row">
    <form-select grid="flex-gt-sm" identidade="etapaModulo" label="'Módulo'" nome="'modulo'">
        <md-select ng-change="validaCampo()" ng-model="etapa.modulo.id">
            <md-option value=""></md-option>
            <md-option ng-repeat="modulo in modulos" value="{{ modulo.id }}">{{ modulo.nome }}</md-option>
        </md-select>
    </form-select>
    
    <form-select grid="flex-gt-sm" identidade="etapaSistemaAvaliacao" label="'Sistema de Avaliação'" nome="'sistemaAvaliacao'" obrigatorio="required" erro="'etapaForm.sistemaAvaliacao.$error'" mensagem="'required,Este campo é obrigatório'">
        <md-select ng-change="validaCampo()" ng-model="etapa.sistemaAvaliacao.id" required>
            <md-option value=""></md-option>
            <md-option ng-repeat="sistema in sistemas" value="{{ sistema.id }}">{{ sistema.nome }}</md-option>
        </md-select>
    </form-select>
</div>
<div layout-gt-sm="row">
    <form-select grid="flex-gt-sm" identidade="etapaQuadro" label="'Modelo de Quadro de Horário'" nome="'quadro'" obrigatorio="required" erro="'etapaForm.quadro.$error'" mensagem="'required,Este campo é obrigatório'">
        <md-select ng-change="validaCampo()" ng-model="etapa.modeloQuadroHorario.id" required>
            <md-option value=""></md-option>
            <md-option ng-repeat="quadro in quadros" value="{{ quadro.id }}">{{ quadro.nome }}</md-option>
        </md-select>
    </form-select>
    <form-select grid="flex-gt-sm" identidade="etapaCurso" label="'Curso'" nome="'cursi'" obrigatorio="required" erro="'etapaForm.curso.$error'" mensagem="'required,Este campo é obrigatório'">
        <md-select ng-change="validaCampo()" ng-model="etapa.curso.id" required>
            <md-option value=""></md-option>
            <md-option ng-repeat="curso in cursos" value="{{ curso.id }}">{{ curso.nome }}</md-option>
        </md-select>
    </form-select>
</div>
<div layout="row" layout-wrap><div flex="100" layout="row"><md-checkbox ng-model="etapa.integral">Curso Integral</md-checkbox></div></div>