
<md-button ng-if="ctrl.validarEscrita(opcao)" hide show-gt-sm ng-repeat="opcao in ctrl.opcoes" ng-click="ctrl.executarOpcao($event, opcao, objeto)" class="md-icon-button" aria-label="{{ opcao.tooltip }}">
    <md-tooltip md-direction="top">{{ opcao.tooltip }}</md-tooltip>
    <md-icon class="material-icons">{{ opcao.icone }}</md-icon>
</md-button>

<md-button ng-if="ctrl.validarEscrita(opcao)" hide-gt-sm ng-repeat="opcao in ctrl.opcoes" ng-click="ctrl.executarOpcao($event, opcao, objeto)" class="md-icon-button" aria-label="{{ opcao.tooltip }}">
    <md-icon class="material-icons">{{ opcao.icone }}</md-icon>
</md-button>