<md-cotnent class="modal-padding">
    <h2>O Sistema Erudio mudou.</h2>
    Essa evolução é visível tanto no visual quanto na funcionalidade, porém sua essência permanece a mesma: <br />
        <ul>
            <li><em>Auxiliar o gerenciamento total de redes educacionais.</em></li>
            <li><em>Ser de uso prático e simples para todos.</em></li>
            <li><em>Automatizar processos burocráticos para redirecionar o foco no que realmente importa: a Educação.</em></li>
        </ul>
    Pensando em <strong>você</strong>, toda a interface foi remodelada tendo foco não apenas na beleza, mas na <strong>praticidade</strong> e <strong>performance</strong> que sua unidade precisa.<br />
    Não se preocupe quanto ao uso. O Erudio continua simples como sempre foi e você pode usá-lo praticamente do mesmo modo que a primeira versão.<br />
    <br />
    Agradecidos.<br />
    <strong>Equipe DITEC - 2017.</strong>
</md-cotnent>