<div layout-gt-sm="row">
    <form-input grid="flex-gt-sm" identidade="regimeNome" label="'Nome do Regime'" tipo="'text'" troca="validaCampo()" nome="'nome'" obrigatorio="required" model="turno" campo="nome" erro="'turnoForm.nome.$error'" mensagem="'required,Este campo é obrigatório'"></form-input>
</div>
<div layout-gt-sm="row">
    <form-input grid="flex-gt-sm" identidade="regimeInicio" label="'Início'" tipo="'text'" dica="'Apenas Números'" classe="'maskHora'"  troca="validaCampo()" nome="'inicio'" obrigatorio="required" model="turno" campo="inicio" erro="'turnoForm.inicio.$error'" mensagem="'required,Este campo é obrigatório'"></form-input>
    <form-input grid="flex-gt-sm" identidade="regimeFinal" label="'Final'" tipo="'text'" dica="'Apenas Números'" classe="'maskHora'" troca="validaCampo()" nome="'final'" obrigatorio="required" model="turno" campo="termino" erro="'turnoForm.final.$error'" mensagem="'required,Este campo é obrigatório'"></form-input>
</div>