{% extends 'SuporteTecnicoBundle:Index:index.html.twig' %}

{% block headerTitle %}Suporte Técnico > Chamados > Cadastro{% endblock %}

{% block page %}

    <div class="text-center">
        <div class="alert alert-success">
            <p> Seu chamado foi criado. Número de acompanhamento: <strong>{{chamado.id}}</strong></p>
            <a class="alert-link" href="{{url('suporte_chamado_gerenciar', {'chamado': chamado.id})}}">[ Abrir página do chamado ]</a>
        </div>
    </div>

{% endblock %}

