{% extends 'DGPBundle:Pessoa:cadastroPessoa.html.twig' %}

{% set activeTab = '6' %}

{% block headerTitle %}DGP > Pessoas > {{pessoa.nome}} > Usuário{% endblock %}

{% block tabContent %}
    {% if pessoa.usuario %}
        <div class="alert alert-block alert-info" style="margin-top: 1.1em;">A pessoa possui um usuário ativo</div>
        <form action="{{path('dgp_pessoa_usuario_alterarSenha', {'pessoa': pessoa.id})}}" method="POST">
            <div class="row">
                    <div class="col-lg-6">
                        <label for="password">Modificar Senha: </label>
                        <input id="password" name="password" type="password" value="" class="form-control"/>
                    </div>
                    <div class="col-lg-6">
                        <label for="password">Repetir Senha: </label>
                        <input id="repeat_password" name="repeat_password" type="password" value="" class="form-control"/>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button id="btnAtualizarAjax" type="submit" class="btn btn-primary">Atualizar</button>
                </div>
            </div>
        </form> 
    {% else %}    
        <div class="alert alert-block alert-danger" style="margin-top: 1.1em;">
            Não existe um usuário criado para esta pessoa
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('lib/jquery/validatePassword.js')}}"></script>
{% endblock %}
