<pdf>
    {% for d in diarios %}
        {% embed 'reports/templates/page.twig' %}
            {% block pageType %}A4{% endblock %}
            
           {% block title %}
                <h1>Diário de Notas</h1>
                {% if turma.etapa.sistemaAvaliacao.quantidadeMedias > 1 %}
                    <h3>{{media}}º {{unidadeRegime}}</h3>
                {% endif %}
            {% endblock %}
            
            {% block headerHeight %}70px{% endblock %}
            
            {% block info %}
                {% embed 'reports/templates/info.twig' %}{% endembed %}
            {% endblock %}
            
            {% block content %}
                <div margin="0" padding="0" font-size="8px">
                    <table>
                        <tr>
                            <td border.type="none"></td>
                            <td border.type="none"></td>
                            <td border.style="dotted" colspan="10"><h4><strong>Avaliações</strong></h4></td>
                            <td border.type="none"></td>
                        </tr>
                        <tr>
                            <td width="25px">
                                <h4><strong>Nº</strong></h4>
                            </td>
                            <td>
                                <h4><strong>Aluno</strong></h4>
                            </td>
                                {% for avaliacao in d.avaliacoes %}
                                    <td width="35px" padding-left="5px"></td>
                                {% else %}
                                    {% for i in 1..10 %}
                                        <td width="35px" padding-left="5px"></td>
                                    {% endfor %}
                                {% endfor %}
                            <td width="60px">
                                <h4><strong>Média</strong></h4>
                            </td>
                        </tr>
                        {% for i, enturmacao in enturmacoes %}
                            <tr>
                                <td>{{i + 1}}</td>
                                <td text-align="left">
                                    {{enturmacao.matricula.aluno.nome|upper}}
                                </td>
                                    {% for i in 1..10 %}
                                        <td></td>
                                    {% endfor %}
                                 <td></td>
                            </tr>
                        {% endfor %}
                        {% for i in 1..5 %}
                            <tr>
                                <td>-</td>
                                <td></td>
                                {% for avaliacao in d.avaliacoes %}
                                    <td width="35px" padding-left="5px"></td>
                                {% else %}
                                    {% for i in 1..10 %}
                                        <td width="35px" padding-left="5px"></td>
                                    {% endfor %}
                                {% endfor %}
                                <td></td>
                            </tr>
                        {% endfor %}
                        
                    </table>
                </div>
                {% block assinaturas %}    
                    {% embed 'reports/templates/assinaturas.twig' %}{% endembed %}    
                {% endblock %}
            {% endblock %}
        {% endembed %}
    {% endfor %}
</pdf>


