<img src="{{ config.dominio }}/apps/professor/avaliacoes/assets/images/modal.jpg" class="modal-image" alt="Dia">
<div ng-if="!isQualitativa">
    <h2 class="modal-title">Notas: {{ avaliacao.nome }} - {{ avaliacao.dataEntrega | date:'dd/MM/yyyy' }}</h2>
    <md-list class="md-dense" flex>
        <md-list-item ng-repeat="aluno in alunos" class='modal-list'>
            <img ng-show="aluno.urlFoto !== undefined" src="{{ aluno.urlFoto }}" class="md-avatar" alt="{{aluno.nome}}" />
            <img ng-show="aluno.urlFoto === undefined" src="{{ config.dominio }}/apps/professor/avaliacoes/assets/images/avatar.png" class="md-avatar" alt="{{aluno.nome}}" />
            <div class="md-list-item-text">
                <h3>{{ aluno.disciplinaCursada.matricula.nomeAluno }}</h3>
            </div>
            <div class="md-secondary">
                <form class="formNotas">
                    <md-input-container md-block flex-gt-sm class="mobile-modal-fix">
                        <input id="aluno{{aluno.id}}" data-media="{{aluno.id}}" ng-class="isNotaSalva(aluno)" ng-model="aluno.nota" type="number" min="0" max="10" placeholder="Nota" name="nota"/>
                    </md-input-container>
                </form>
            </div>
        </md-list-item>
    </md-list>
    <div flex-gt-sm="40">
        <md-button md-colors="::{backgroundColor: 'default-accent-500'}" ng-click="salvar()" class="md-raised salvar-notas-quanti save-button-fix">Salvar</md-button>
    </div>
</div>

<div ng-if="isQualitativa">
    <h2 class="modal-title" id="modal-qualitativa" data-media="{{ alunos.id }}">Conceitos</h2>
    <md-list class="md-dense" flex>
        <md-list-item ng-repeat="habilidade in habilidades track by $index" class='modal-list height-fix'>
            <div class="md-list-item-text">
                <h3>{{ habilidade.nome }}</h3>
            </div>
            <div class="md-secondary">
                <md-input-container md-block flex-gt-sm>
                    <label for="conceito">Conceito</label>
                    <md-select ng-model="notasAvaliadas[$index]" class="conceitos" name="conceito">
                        <md-option value=""></md-option>
                        <md-option ng-repeat="conceito in conceitos track by $index" value="{{ conceito.id }}">{{ conceito.sigla }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-list-item>
    </md-list>
    <div flex-gt-sm="40">
        <md-button md-colors="::{backgroundColor: 'default-accent-500'}" class="md-raised salvar-notas-quali save-button-fix">Salvar</md-button>
    </div>
</div>