/* APENAS NO DESKTOP */
@media screen and (min-width: 1280px) {
    .back-btn { position: absolute; top: 10px; right: 17px; z-index: 1005; }
    .conteudo { width: calc(100% - 260px) !important; left: 260px; }
    .tela-cheia { width: 100% !important; left: initial !important; }
    .md-sidenav-left { position: fixed !important; width: 260px; }
    .paginador-wrapper { position: fixed; bottom: 0; width: calc(100% - 240px); }
    .paginador-relative-full { position: relative; width: 180px; margin: 0 auto; }
    .empty-state { width: 80%; height: 3%; position: absolute; left: 50%; margin-left: -39%; top: -1.5%; margin-top: 45%; text-align: center; }
    md-input-container.md-icon-left { padding-left: 36px; padding-right: 0; }
    .sem-alocacao-texto, .sem-permissao-texto { overflow-x: hidden !important; position: absolute; left: 50%; margin-left: -25%; color: #fff; z-index: 22; margin-top: 50%; top: -25%; }
    md-input-container { width: calc(100% - 36px) !important; }
    .loader { position: fixed; right: 6px; top: 9px; z-index: 1005; display: block; }
    ._md-datepicker-floating-label>md-datepicker .md-datepicker-button { float: left; margin-top: -12px; top: 9.5px; left: -14px; color: black; }
    .date-label {  left: 37px !important; }
    .md-datepicker-input-container { width: calc(100% - 36px); margin-left: -17px !important; }
    .md-datepicker-input-container input { max-width: none !important; }
    md-datepicker { width: 100% !important; display: block; }
    md-datepicker button md-icon { color: #000 !important; }
    .btn-add-avaliacao-fix { position: fixed; right: 25px; top: 63px !important; }
    .btn-voltar-avaliacao-fix { position: fixed; right: 25px; top: 124px; }
    .h100-fix { height: initial !important; }
}

@media screen and (max-width: 960px) and (orientation: landscape) {
  .back-btn { position: absolute; top: 4px; right: 0px; z-index: 22; }
}

/*LOGIN*/
@media screen and (min-width: 960px) {
    .corpoLogin { background: url('../images/login.jpg') no-repeat center center; background-size: 100% 100%; font-size: Roboto; }
    .valign-login { position: absolute !important; top: 25% !important; height: auto !important; }
    .valign-helper { display: block !important; position: absolute; bottom: 0%; right: 8px; }
    .valign-helper-mobile { display: none !important; }
}