{% extends 'IntranetBundle:Index:servidor.html.twig' %}

{% block headerTitle %}Formações do Dia{% endblock %}

{% block body %}
    {% if formacoes is empty %}
        Nenhuma formação cadastrada
    {% else %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data de Início</th>
                </tr>
            </thead>
            <tbody>
                {% for formacao in formacoes %}
                    <tr>
                        <td><a href="{{ path('dgp_formacao_inscritos', { 'id': formacao.id }) }}">{{ formacao.nome }}</a></td>
                        <td>{{ formacao.dataInicioFormacao|date('d/m/Y') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{parent()}} 
    <script type="text/javascript">
        $('document').ready(function (){
            $('#menu').hide();
        });
    </script>
{% endblock %}