<div layout-gt-sm="row">
        <div layout-gt-sm="row" class="lista-items w100">
            <md-card flex-gt-sm="50">
                <md-card-content>
                    <h3>Dados Cadastrados</h3>
                    <md-list flex class="no-padding white-content">
                        <md-list-item id="objeto{{ objeto.id }}" class="md-2-line" ng-repeat="objeto in ctrl.etapasCursadas">
                            <a class="link-list" ng-click="ctrl.carregarEtapa(objeto)"><div class="md-list-item-text" layout="column">
                                <h3>{{ objeto.etapa.nomeExibicao }} - {{ objeto.ano }}</h3>
                                <p>{{ objeto.unidadeEnsino }} / {{ objeto.cidade.estado.sigla }}</p>
                            </div></a>
                            <div class="md-secondary">
                                <md-button hide show-gt-sm ng-click="ctrl.modalExclusao($event, objeto)" class="md-icon-button" aria-label="remover">
                                    <md-tooltip md-direction="top">Remover</md-tooltip>
                                    <md-icon class="material-icons">delete</md-icon>
                                </md-button>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
    
            <md-card flex-gt-sm="50">
                <md-card-content>
                    <h3 ng-show="ctrl.cursada.id === undefined">Adicionar Dados de Conclusão</h3>
                    <h3 ng-show="ctrl.cursada.id !== undefined">Dados da Etapa: {{ ctrl.cursada.etapa.nomeExibicao }}</h3>
    
                    <form style="margin-top: 10px;" id="novaEtapaForm" name="novaEtapaForm" class="modal-form">
                        <div class="row">
                            <md-input-container class="md-icon-float" md-block flex-gt-sm ng-show="ctrl.cursada.id === undefined">
                                <label for="etapa">Etapa</label>
                                <md-icon class="material-icons">school</md-icon>
                                <md-select ng-model="ctrl.etapa" id="etapa" name="etapa" required>
                                    <md-option value=""></md-option>
                                    <md-option ng-repeat="item in ctrl.etapas track by $index" value="{{ item.id }}">{{ item.nomeExibicao }}</md-option>
                                </md-select>
                                <div ng-messages="novaEtapaForm.etapa.$error" class="errors-wrapper">
                                    <div ng-message="required">Este campo é obrigatório.</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-icon-float" md-block flex-gt-sm>
                                <label for="unidadeEnsino">Unidade de Ensino</label>
                                <md-icon class="material-icons">account_balance</md-icon>
                                <input id="unidadeEnsino" ng-model="ctrl.cursada.unidadeEnsino" type="text" name="unidadeEnsino" required/>
                                <div ng-messages="novaEtapaForm.cursada.unidadeEnsino.$error" class="errors-wrapper">
                                    <div ng-message="required">Este campo é obrigatório.</div>
                                </div>
                            </md-input-container>
                        </div>
    
                        <div class="row">
                            <md-input-container class="md-icon-float" md-block flex-gt-sm>
                                <label for="ano">Ano</label>
                                <md-icon class="material-icons">event</md-icon>
                                <input id="ano" ng-model="ctrl.cursada.ano" class="maskAno" type="text" name="ano" required/>
                                <div class="hint">Apenas Números</div>
                                <div ng-messages="novaEtapaForm.cursada.ano.$error" class="errors-wrapper">
                                    <div ng-message="required">Este campo é obrigatório.</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-icon-float" md-block flex-gt-sm>
                                <label for="estados">Estado</label>
                                <md-icon class="material-icons">my_location</md-icon>
                                <md-select ng-model="ctrl.estado" id="estados" name="estados" required>
                                    <md-option value=""></md-option>
                                    <md-option ng-repeat="item in ctrl.estados track by $index" value="{{ item.id }}">{{ item.nome }}</md-option>
                                </md-select>
                                <div ng-messages="novaEtapaForm.estado.$error" class="errors-wrapper">
                                    <div ng-message="required">Este campo é obrigatório.</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div class="row">
                            <md-input-container class="md-icon-float autocomplete-wrap" md-block flex-gt-sm>
                                <md-icon class="material-icons">location_city</md-icon>
                                <md-autocomplete class="autocomplete-form" flex md-input-name="cidades" md-input-minlength="3" md-selected-item="ctrl.cursada.cidade" md-search-text="ctrl.nomeCidade" md-items="item in ctrl.buscarCidades(ctrl.nomeCidade)" md-item-text="item.nome" md-floating-label="Cidade" md-require-match required>
                                    <span md-highlight-text="ctrl.nomeCidade">{{ item.nome }}</span>
                                </md-autocomplete>
                                <div ng-messages="novaEtapaForm.cidades.$error" class="errors-wrapper">
                                    <div ng-message="required" class="autocomplete-error">Este campo é obrigatório.</div>
                                </div>
                            </md-input-container>
                        </div>
                
                        <div class="row" ng-if="ctrl.cursada.id === undefined">
                            <md-button md-colors="::{backgroundColor: 'default-accent-500'}" ng-click="ctrl.salvarNovaEtapa()" class="md-raised">SALVAR</md-button>
                            <md-button ng-click="ctrl.limparCampos()" class="md-raised md-primary">LIMPAR CAMPOS</md-button>
                        </div>
                
                        <div class="row" ng-if="ctrl.cursada.id !== undefined">
                            <md-button md-colors="::{backgroundColor: 'default-accent-500'}" ng-click="ctrl.atualizarEtapa()" class="md-raised">ATUALIZAR</md-button>
                            <md-button ng-click="ctrl.limparCampos()" class="md-raised md-primary">LIMPAR CAMPOS</md-button>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
        </div>
    </div>
    
    <botao-voltar></botao-voltar>