<img src="{{ config.dominio }}/apps/admin/historicos/assets/images/alunos.jpg" class="modal-image" alt="Médias Parciais">
<h2 class="modal-title">Médias Parciais - {{ disciplina.nomeExibicao }}</h2>

<table>
    <thead>
        <tr><th class="table-modal" ng-class="ultimaColuna($index)" ng-repeat="titulo in titulos track by $index">{{ titulo }}</th></tr>
    </thead>
    <tbody>
        <tr><td class="table-modal" ng-class="ultimaColuna($index)" ng-repeat="media in mediasParciais track by $index">{{ media }}</td></tr>
    </tbody>
</table>