<div layout-gt-sm="row">
    <div class="lista-items w100">
        <md-card>
            <md-card-content>
                <h3>Aluno: {{ matricula.aluno.nome }}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Disciplina</th>
                            <th ng-repeat="etapa in ctrl.etapas track by $index">{{ etapa.nomeExibicao }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="disciplina in ctrl.disciplinasCursadas track by $index">
                            <td>{{ disciplina.disciplina.nome }}</td>
                            <td ng-repeat="etapa in ctrl.etapas track by $index">{{ ctrl.filtrarNota(disciplina,etapa) }}</td>
                        </tr>
                    </tbody>
                </table>
            </md-card-content>
            <md-card-actions>
                <a href="#!/historicos/{{ matricula.id }}/disciplinas"><md-button md-colors="::{backgroundColor: 'default-accent-500'}" class="md-raised">GERENCIAR DISCIPLINAS</md-button></a>
                <a href="#!/historicos/{{ matricula.id }}/dados-conclusao"><md-button md-colors="::{backgroundColor: 'default-accent-500'}" ng-click="ctrl.buscarMatriculas(true)" class="md-raised">DADOS DE CONCLUSÃO</md-button></a>
                <a href="#!/historicos/{{ matricula.id }}/observacoes"><md-button md-colors="::{backgroundColor: 'default-accent-500'}" ng-click="ctrl.buscarMatriculas(true)" class="md-raised">OBSERVAÇÕES</md-button></a>
                <md-button ng-click="ctrl.imprimir()" class="md-raised md-primary">IMPRIMIR</md-button>
            </md-card-actions>
        </md-card>

    </div>
</div>

<botao-voltar></botao-voltar>