<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR">
    <head>
        <title>Erudio</title>
        <!-- META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#000">
        <link rel="icon" href="assets/images/erudio.png">
        <link rel="stylesheet" href="lib/material/angular-material.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="assets/css/main.css"/>
        
        <!-- JQUERY -->
        <script src="lib/js/jquery/jquery.js"></script>
        <script src="lib/js/jquery/jquery.mask.js"></script>
        <script type="text/javascript" src="lib/js/jquery/moment.js"></script>
        <script type="text/javascript" src="lib/js/jquery/moment-timezone.js"></script>
        
        <!-- ANGULAR -->
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/angular/angular-route.js"></script>
        <script src="lib/angular/angular-animate.min.js"></script>
        <script src="lib/angular/angular-aria.min.js"></script>
        <script src="lib/angular/angular-messages.min.js"></script>
        <script src="lib/angular/angular-translate.min.js"></script>
        <script src="lib/angular/angular-translate-loader-static-files.min.js"></script>
        <script type="text/javascript" src="lib/js/angular/underscore-min.js"></script>
        <script type="text/javascript" src="lib/js/angular/restangular.min.js"></script>
        <script type="text/javascript" src="lib/js/angular/angular-md5.js"></script>
        <script type="text/javascript" src="lib/js/angular/sha1.js"></script>
        
        <!-- LEAFLET -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
        
        <!-- ANGULAR MATERIAL -->
        <script src="lib/material/angular-material.min.js"></script>
    </head>
    <body ng-app="Erudio" ng-cloak>
        <!-- BARRA DE PROGRESSO -->
        <md-progress-linear class="md-warn progresso" md-mode="indeterminate"></md-progress-linear>
        <div class="cortina"></div>
        
        <md-content class="fit-screen" ng-controller="AppController">            
            <section class="main-layout" layout="row" flex>
                
                <!-- MENU LATERAL -->
                <md-sidenav ng-hide="isProfessor" class="md-sidenav-left md-whiteframe-3dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                    <md-toolbar class="md-tall">
                        <div class="md-toolbar-tools">
                            <h2 flex md-truncate></h2>
                            <md-menu md-position-mode="target-right target">
                                <md-button class="md-icon-button" ng-click="$mdMenu.open($event)" aria-label="Mais"><md-icon class="material-icons">more_vert</md-icon></md-button>
                                <md-menu-content class="main-menu" width="2">
                                    <md-menu-item><md-button><div layout="row" flex><p flex>{{ perfil }}</p></div></md-button></md-menu-item>
                                    <md-menu-item><md-button><div layout="row" flex><p flex>{{ sobre }}</p></div></md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="oQueMudou($event)"><div layout="row" flex><p flex>{{ mudou }}</p></div></md-button></md-menu-item>
                                    <md-menu-item><md-button><div layout="row" flex><p flex>{{ config }}</p></div></md-button></md-menu-item>
                                    <md-menu-item><md-button><div layout="row" flex><p flex>{{ sair }}</p></div></md-button></md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                        <span flex>
                            <div class="user-area" flex layout-gt-sm="column">
                                <div class="nome-usuario" md-truncate>{{ userAtivo }}</div>
                                <form-select grid="flex-gt-sm" identidade="formAttr" label="''" nome="'atribuicao'" obrigatorio="required">
                                    <md-select aria-label="Alocação" class="md-select-alocacao no-margin" ng-model="attrAtual.attr.id" ng-change="carregarAtribuicao(attrAtual.attr.id)">
                                        <md-option style="font-size: 14px;" value="">Selecione uma alocação</md-option>
                                        <md-option ng-repeat="atribuicao in atribuicoes.atribuicoes" class="select-alocacao" value="{{ atribuicao.id }}">
                                            <span ng-show="atribuicao.apelido">{{ atribuicao.apelido }}</span><span ng-hide="atribuicao.apelido">{{ atribuicao.grupo.nome }}</span><br />
                                            <small class="text-alocacao">{{ atribuicao.instituicao.nomeCompleto }}</small>
                                        </md-option>
                                    </md-select>
                                </form-select>
                            </div>
                        </span>
                    </md-toolbar>
                    
                    <!-- MENU -->
                    <md-content id="menu-lateral" ng-init="ajustaMenus()">
                        <ul class="menu" flex ng-repeat="menu in menus track by $index">
                            <li ng-click="menuToggle($index)" class="menu-titulo">{{ menu.categoria }}</li>
                            <md-divider></md-divider>
                            <ul class="submenu submenu{{$index}}" ng-show="menu.temSubmenu" >
                                <li ng-show="verificaPermissao(link.permissao)" ng-repeat="link in menu.links" class="submenu-item"><a data-titulo="{{ link.label }}" class="link-submenu" href="{{ link.href }}">{{ link.label }}</a></li>
                                <md-divider></md-divider>
                            </ul>
                        </ul>
                    </md-content>
                </md-sidenav>
                
                <md-content ng-class="ajustarTelaCheia()" class="w100 conteudo">
                    <div ng-show="cortinaAlocacao" class="sem-alocacao-cortina"></div>
                    <div ng-show="cortinaAlocacao" class="sem-alocacao-texto">Para utilizar o sistema, por favor, selecione uma alocação.</div>
                    <div class="sem-permissao-cortina"></div>
                    <div class="sem-permissao-texto">Você não tem permissão para acessar esta área do sistema.</div>
                    <md-progress-circular class="md-accent loader" md-diameter="40" ></md-progress-circular>
                    
                    <!-- TOOLBAR COM IMAGEM -->
                    <md-toolbar class="md-tall content-bar">
                        <div class="md-toolbar-tools">
                            <md-button hide-gt-md ng-click="abrirMenu()" class="md-icon-button btn-zindex" aria-label="Menu"><md-icon class="material-icons">menu</md-icon></md-button>
                            <h2 class="titulo-toolbar" flex md-truncate></h2>
                            <md-menu style="margin-right: 7px; margin-top: 10px;" ng-show="isProfessor" md-position-mode="target-right target">
                                <md-button class="md-icon-button" ng-click="$mdMenu.open($event)" aria-label="Mais"><md-icon class="material-icons">more_vert</md-icon></md-button>
                                <md-menu-content class="main-menu" width="2">
                                    <md-menu-item><md-button><div layout="row" flex><p flex>{{ perfil }}</p></div></md-button></md-menu-item>
                                    <md-menu-item><md-button><div layout="row" flex><p flex>{{ sobre }}</p></div></md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="oQueMudou($event)"><div layout="row" flex><p flex>{{ mudou }}</p></div></md-button></md-menu-item>
                                    <md-menu-item><md-button><div layout="row" flex><p flex>{{ config }}</p></div></md-button></md-menu-item>
                                    <md-menu-item><md-button><div layout="row" flex><p flex>{{ sair }}</p></div></md-button></md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                        <span flex></span>
                    </md-toolbar>
                    
                    <!-- TOOLBAR ATIVADA NO SCROLL  -->
                    <md-toolbar class="scroll-toolbar">
                        <div class="md-toolbar-tools">
                            <md-button hide-gt-md ng-click="abrirMenu()" class="md-icon-button btn-zindex" aria-label="Menu"><md-icon class="material-icons">menu</md-icon></md-button>
                            <h2 class="titulo-toolbar" flex md-truncate></h2>
                            <md-menu md-position-mode="target-right target">
                                <md-button class="md-icon-button" ng-click="$mdMenu.open($event)" aria-label="Mais"><md-icon class="material-icons">more_vert</md-icon></md-button>
                                <md-menu-content class="main-menu" width="2">
                                    <md-menu-item><md-button><div layout="row" flex><p flex>{{ perfil }}</p></div></md-button></md-menu-item>
                                    <md-menu-item><md-button><div layout="row" flex><p flex>{{ sobre }}</p></div></md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="oQueMudou($event)"><div layout="row" flex><p flex>{{ mudou }}</p></div></md-button></md-menu-item>
                                    <md-menu-item><md-button><div layout="row" flex><p flex>{{ config }}</p></div></md-button></md-menu-item>
                                    <md-menu-item><md-button><div layout="row" flex><p flex>{{ sair }}</p></div></md-button></md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                        <span flex></span>
                    </md-toolbar>
                    
                    <!-- CONTEUDO -->
                    <md-content id="conteudoArea" class="static h100-fix" flex ng-view></md-content>
                </md-content>
                <md-content class="forbidden" layout="row" layout-align="center center">
                    Ops, você não tem permissão para acessar esta página.
                </md-content>
            </section>
        </md-content>
        
        <!-- CONTROLLERS -->
        <script src="apps/admin/home/controllers/modulesController.js"></script>
        <script src="apps/admin/util/erudioConfig.js"></script>
        <script src="apps/admin/util/authService.js"></script>
        <script src="apps/admin/util/restService.js"></script>
        <script src="apps/admin/util/utilController.js"></script>
        <script src="apps/admin/util/structureController.js"></script>
        <script src="apps/admin/util/validatorController.js"></script>
        <script src="apps/admin/util/sharedProperties.js"></script>
        <!-- base -->
        <script src="apps/admin/core/services/Base.js"></script>
        <!-- estados -->
        <script src="apps/admin/estados/services/Estado.js"></script>
        <!-- cidades -->
        <script src="apps/admin/cidades/services/Cidade.js"></script>
        <!-- enderecos -->
        <script src="apps/admin/enderecos/services/Endereco.js"></script>
        <!-- telefones -->
        <script src="apps/admin/telefones/services/Telefone.js"></script>
        <!-- etapa cursada -->
        <script src="apps/admin/etapasCursadas/services/EtapaCursada.js"></script>
        <!-- disciplina cursada -->
        <script src="apps/admin/disciplinasCursadas/services/DisciplinaCursada.js"></script>
        <!-- disciplina ofertada -->
        <script src="apps/admin/disciplinasOfertadas/services/DisciplinaOfertada.js"></script>
        <!-- frequencia -->
        <script src="apps/admin/frequencias/services/Frequencia.js"></script>
        <!-- aula -->
        <script src="apps/admin/aulas/services/Aula.js"></script>
        <!-- dia -->
        <script src="apps/admin/dias/services/Dia.js"></script>
        <!-- médias -->
        <script src="apps/admin/medias/services/Media.js"></script>
        <!-- conceito -->
        <script src="apps/admin/conceitos/services/Conceito.js"></script>
        <!-- inicio -->
        <script src="apps/admin/home/controllers/homeController.js"></script>
        <!-- cursos ofertados -->
        <script src="apps/admin/cursosOfertados/services/CursoOfertado.js"></script>
        <!-- modalidades de ensino -->
        <script src="apps/admin/modalidadesEnsino/services/ModalidadeEnsino.js"></script>
        <!-- sistema de avaliação -->
        <script src="apps/admin/sistemaAvaliacoes/services/SistemaAvaliacao.js"></script>
        <!-- modelos de grade de horário -->
        <script src="apps/admin/modelosGradeHorario/services/ModeloGradeHorario.js"></script>
        <!-- instituições -->
        <script src="apps/admin/instituicoes/controllers/instituicaoController.js"></script>
        <script src="apps/admin/instituicoes/controllers/instituicaoFormController.js"></script>
        <script src="apps/admin/instituicoes/services/Instituicao.js"></script>
        <!-- tipos de unidade -->
        <script src="apps/admin/tiposUnidade/controllers/tipoUnidadeController.js"></script>
        <script src="apps/admin/tiposUnidade/controllers/tipoUnidadeFormController.js"></script>
        <script src="apps/admin/tiposUnidade/services/TipoUnidade.js"></script>
        <!-- unidades -->
        <script src="apps/admin/unidades/controllers/unidadeController.js"></script>
        <script src="apps/admin/unidades/controllers/unidadeFormController.js"></script>
        <script src="apps/admin/unidades/services/Unidade.js"></script>
        <!-- regimes -->
        <script src="apps/admin/regimes/controllers/regimeController.js"></script>
        <script src="apps/admin/regimes/controllers/regimeFormController.js"></script>
        <script src="apps/admin/regimes/services/Regime.js"></script>
        <!-- cursos -->
        <script src="apps/admin/cursos/controllers/cursoController.js"></script>
        <script src="apps/admin/cursos/controllers/cursoFormController.js"></script>
        <script src="apps/admin/cursos/services/Curso.js"></script>
        <!-- etapas -->
        <script src="apps/admin/etapas/controllers/etapaController.js"></script>
        <script src="apps/admin/etapas/controllers/etapaFormController.js"></script>
        <script src="apps/admin/etapas/services/Etapa.js"></script>
        <!-- disciplinas -->
        <script src="apps/admin/disciplinas/controllers/disciplinaController.js"></script>
        <script src="apps/admin/disciplinas/controllers/disciplinaFormController.js"></script>
        <script src="apps/admin/disciplinas/services/Disciplina.js"></script>
        <!-- modulos -->
        <script src="apps/admin/modulos/controllers/moduloController.js"></script>
        <script src="apps/admin/modulos/controllers/moduloFormController.js"></script>
        <script src="apps/admin/modulos/services/Modulo.js"></script>
        <!-- turno -->
        <script src="apps/admin/turnos/controllers/turnoController.js"></script>
        <script src="apps/admin/turnos/controllers/turnoFormController.js"></script>
        <script src="apps/admin/turnos/services/Turno.js"></script>
        <!-- modelo grade horario -->
        <script src="apps/admin/modelosGradeHorario/controllers/modeloGradeHorarioController.js"></script>
        <script src="apps/admin/modelosGradeHorario/controllers/modeloGradeHorarioFormController.js"></script>
        <script src="apps/admin/modelosGradeHorario/services/ModeloGradeHorario.js"></script>
        <!-- grade de horário -->
        <script src="apps/admin/quadroHorarios/controllers/quadroHorariosController.js"></script>
        <script src="apps/admin/quadroHorarios/controllers/quadroHorariosFormController.js"></script>
        <script src="apps/admin/quadroHorarios/services/QuadroHorario.js"></script>
        <!-- calendarios -->
        <script src="apps/admin/calendarios/controllers/calendarioController.js"></script>
        <script src="apps/admin/calendarios/controllers/calendarioFormController.js"></script>
        <script src="apps/admin/calendarios/controllers/calendarioViewController.js"></script>
        <script src="apps/admin/calendarios/services/Calendario.js"></script>
        <!-- eventos -->
        <script src="apps/admin/eventos/controllers/eventoController.js"></script>
        <script src="apps/admin/eventos/controllers/eventoFormController.js"></script>
        <script src="apps/admin/eventos/services/Evento.js"></script>
        

        <!-- Histórico Escolar -->
        <script src="apps/admin/historicos/controllers/historicoController.js"></script>
        <script src="apps/admin/historicos/controllers/historicoViewController.js"></script>

        <script src="apps/admin/periodos/services/Periodo.js"></script>
        
        <script src="apps/admin/turmas/services/Turma.js"></script>
        <script src="apps/admin/turmas/directives/turmaDirectives.js"></script>
        
        <script src="apps/admin/matriculas/services/Matricula.js"></script>
        
        <script src="apps/admin/enturmacoes/services/Enturmacao.js"></script>
        
        <script src="apps/admin/movimentacao/services/Desligamento.js"></script>
        <script src="apps/admin/movimentacao/services/Movimentacao.js"></script>
        <script src="apps/admin/movimentacao/services/Transferencia.js"></script>
        
        <script src="apps/admin/pessoas/services/Pessoa.js"></script>
        <script src="apps/admin/estadosCivis/services/EstadoCivil.js"></script>
        <script src="apps/admin/racas/services/Raca.js"></script>
        <script src="apps/admin/nacionalidades/services/Nacionalidade.js"></script>
        <script src="apps/admin/particularidades/services/Particularidade.js"></script>
        <script src="apps/admin/necessidadesEspeciais/services/NecessidadeEspecial.js"></script>
        <script src="apps/admin/pessoas/services/Pessoa.js"></script>
        <script src="apps/admin/grupos/services/Grupo.js"></script>
        
        <script src="apps/admin/cargos/services/Cargo.js"></script>
        <script src="apps/admin/cargos/directives/cargosDirectives.js"></script>
        
        <script src="apps/admin/tipoAvaliacoes/services/TipoAvaliacao.js"></script>
        <script src="apps/admin/tipoAvaliacoes/directives/tipoAvaliacaoDirectives.js"></script>
        
        <script src="apps/admin/habilidades/services/Habilidade.js"></script>
        <script src="apps/admin/habilidades/directives/habilidadeDirectives.js"></script>
        
        <script src="apps/admin/avaliacoes/services/Avaliacoes.js"></script>
        <script src="apps/admin/avaliacoes/directives/avaliacaoDirectives.js"></script>
        
        <script src="apps/admin/grupos/services/Grupo.js"></script>
        <script src="apps/admin/grupos/directives/grupoDirectives.js"></script>
        
        <script src="apps/admin/atribuicoes/services/Atribuicao.js"></script>
        
        <script src="apps/admin/grupoPermissoes/services/GrupoPermissao.js"></script>
        <script src="apps/admin/grupoPermissoes/directives/grupoPermissaoDirectives.js"></script>
        
        <script src="apps/admin/permissoesGrupo/services/PermissaoGrupo.js"></script>
        
        <script src="apps/admin/permissoes/services/Permissao.js"></script>
        
        <script src="apps/admin/usuarios/services/Usuario.js"></script> 
        <script src="apps/admin/usuarios/directives/usuarioDirectives.js"></script>

        <!-- Professor -->
        <script src="apps/professor/index/controllers/professorController.js"></script>
        <script src="apps/professor/avaliacoes/controllers/profAvaliacoesController.js"></script>
        <script src="apps/professor/aulas/controllers/aulasController.js"></script>
        <script src="apps/professor/chamadas/controllers/chamadasController.js"></script>

        <script src="apps/admin/teste/controllers/testeController.js"></script>
        
        <script src="apps/admin/appController.js"></script>
        <script src="apps/admin/appDirectives.js"></script>
    </body>
</html>
