<!DOCTYPE html>
<html lang="pt-br">    

{% block body %}
	<div style="background: #6699cc; width: 100%; float: left; box-shadow: 0px 5px 10px #000;">
		<img src="http://educacao.itajai.sc.gov.br/images/stories/logoo.png" style="width: 30%;" />
	</div>
	<div id="content" style="float: left; margin-top: 10px;">
		<h1>Olá {{ name }}.</h1>
		<p>
		Seu pedido de usuário de Orientador de Estágio foi deferido.
		<br />
		Segue abaixo suas credenciais de acesso à Intranet.
		<br /><br />
		Usuário: {{ cpf }}
                <br />
                Senha: {{ senha }}
                <br /><br />
                <small>Por questões de segurança, é sugerido trocar a senha assim que realizar o primeiro acesso.</small>
		<br /><br />
                Para realizar login, <a href="http://intranet.educacao.itajai.sc.gov.br/login">clique aqui</a>.
                <br /><br />
		Atenciosamente.
		<br />
		Secretaria Municipal de Educação.
		</p>
	</div>
{% endblock %}
    
</html>    