<div class="row title-card" style="margin-top: -64px;">
    <div class="col s12 l12 mobile-full title-fix-card">
        <div class="card" data-ng-hide="editando">
            <div class="card-content">
                <h3 class='card-title-h3'>Curso</h3>
                <div class='row hide-on-small-only'>
                    <div class='col s6 m6 l6'>
                        <p style='font-family: Roboto'>
                            <strong>Definição:</strong><br />
                            Cursos são um conjunto de etapas com o objetivo de formação do estudante.<br /><br />
                            ex: Ensino Fundamental, Educação de Jovens e Adultos, Educação Infantil, etc...
                        </p>
                    </div>
                    <div class='col s6 m6 l6'>
                        <p style='font-family: Roboto'>
                            <strong>Instruções Rápidas:</strong><br />
                            Clique no botão + para cadastrar um Curso.<br />
                            Clique no nome de um curso para editá-lo.<br />
                            Clique no balão correspondente na coluna 'opções' para ver todas as etapas de um Curso sem precisar editá-lo.<br />
                            Clique na lixeira para remover um Curso.
                        </p>
                    </div>
                </div>
                <div class='row hide-on-med-and-up'>
                    <div class='col s12 m12 l12'>
                        <p style='font-family: Roboto'>
                            <strong>Definição:</strong><br />
                            ex: Ensino Fundamental, Educação de Jovens e Adultos, Educação Infantil, etc...<br /><br />
                            <strong>Dica:</strong><br />
                            Clique sobre o item desejado para ver as opções disponíveis para ele.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>