{% extends 'IntranetBundle:Index:administrador.html.twig' %}

{% block headerTitle %}Gerenciamento de usuários{% endblock %}

{% block body %}
    <table class="table table-striped table-hover tableRoles">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Username</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario.nomeExibicao}}</td>
                    <td>{{usuario.username}}</td>
                    <td>
                        <a href="{{url('intranet_admin_listarRoles', {'usuario': usuario.id})}}">Permissões</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
