<div ng-cloak ng-controller="AulaController as ctrl" ng-show="ctrl.disciplinaEscolhida">

    <input id="foto-perfil" style="position: absolute; z-index: -1;" accept="image/*;capture=camera" type="file" name="foto-perfil"/>

    <div class="cortina-foto"></div>
    
    <div layout="row" layout-align="center center" class="start-video" style="display: none; overflow: hidden; margin-top: 30px; margin-bottom: 15px;">
        <video id="camera-stream" class="video-mobile md-whiteframe-2dp" style="width: 68%;"></video>
    
        <md-button ng-click="ctrl.capturar()" ng-hide="ctrl.temFoto" hide show-gt-sm style="top: 25% !important;" class="md-fab btn-tirar-foto" aria-label="Capturar foto">
            <md-icon class="material-icons">photo_camera</md-icon>
        </md-button>

        <md-button ng-click="ctrl.capturar()" ng-hide="ctrl.temFoto" hide-gt-sm style="top: 12% !important;" class="md-fab btn-tirar-foto" aria-label="Capturar foto">
            <md-icon class="material-icons">photo_camera</md-icon>
        </md-button>
    
        <md-button ng-click="ctrl.salvarFoto()" ng-show="ctrl.temFoto" hide show-gt-sm style="top: 25% !important;" class="md-fab btn-deletar-foto" aria-label="Enviar foto">
            <md-icon class="material-icons">done</md-icon>
        </md-button>
    
        <md-button ng-click="ctrl.salvarFoto()" ng-show="ctrl.temFoto" hide-gt-sm style="top: 12% !important;" class="md-fab btn-deletar-foto" aria-label="Enviar foto">
            <md-icon class="material-icons">done</md-icon>
        </md-button>

        <md-button ng-click="ctrl.removerPreFoto()" ng-show="ctrl.temFoto" hide show-gt-sm style="top: 25% !important;" class="md-fab btn-salvar-foto" aria-label="Remover foto">
            <md-icon class="material-icons">delete</md-icon>
        </md-button>
    
        <md-button ng-click="ctrl.removerPreFoto()" ng-show="ctrl.temFoto" hide-gt-sm style="top: 12% !important;" class="md-fab btn-salvar-foto" aria-label="Remover foto">
            <md-icon class="material-icons">delete</md-icon>
        </md-button>
        
        <md-button ng-click="ctrl.cancelarFoto()" ng-hide="ctrl.temFoto" hide show-gt-sm style="top: 25% !important;" class="md-fab btn-cancelar-foto" aria-label="Cancelar foto">
            <md-icon class="material-icons">clear</md-icon>
        </md-button>

        <md-button ng-click="ctrl.cancelarFoto()" ng-hide="ctrl.temFoto" hide-gt-sm style="top: 12% !important;" class="md-fab btn-cancelar-foto" aria-label="Cancelar foto">
            <md-icon class="material-icons">clear</md-icon>
        </md-button>
        
        <img id="foto-perfil-preview" class="invisivel foto-fixed"></img>
        <canvas style="display: none; position: absolute;"></canvas>
    </div>

    <div ng-show="ctrl.possuiEnturmacoes">
        <div class="calendarHome" ng-hide="ctrl.chamada">
            <div style="border-bottom: 1px solid #eee; text-align: center; font-size: 1.5rem; padding: 10px 0 10px 0; background: #e0e0e0;">
                {{ ctrl.nomeMes }} / {{ ctrl.ano }}
            </div>
            <table class="w100 aulas-table" style="margin-bottom: 50px;" md-swipe-right="ctrl.paginaProxima()" md-swipe-left="ctrl.paginaAnterior()">
                <thead hide show-gt-sm><th>Domingo</th><th>Segunda</th><th>Terça</th><th>Quarta</th><th>Quinta</th><th>Sexta</th><th>Sábado</th></thead>
                <thead hide-gt-sm><th>Dom</th><th>Seg</th><th>Ter</th><th>Qua</th><th>Qui</th><th>Sex</th><th>Sáb</th></thead>
                <tbody>
                    <tr ng-repeat="semana in ctrl.mesCalendario">
                        <td ng-class="ctrl.classeTipoDia(semana[0])" md-truncate>
                            {{ semana[0].data | date:'dd' }}<br />
                        </td>
                        <td aria-label="aulas_segunda" ng-class="ctrl.classeTipoDia(semana[1],ctrl.aulasSemana.segunda)" ng-click="ctrl.escolherDia(semana[1],ctrl.aulasSemana.segunda)" md-truncate>
                            {{ semana[1].data | date:'dd' }}<br />
                            <div class="horarios absolute bottom-zero lista-aulas-td" ng-if="semana[1].efetivo && ctrl.aulasSemana.segunda.length > 0">
                                <div class="indicador-aula" ng-if="ctrl.disciplina.id === aula.disciplinaAlocada.id" ng-repeat="aula in ctrl.aulasSemana.segunda track by $index">
                                    {{ aula.inicio }} - {{ aula.disciplinaAlocada.sigla }}
                                </div>
                            </div>
                        </td>
                        <td aria-label="aulas_terça" ng-class="ctrl.classeTipoDia(semana[2],ctrl.aulasSemana.terca)" ng-click="ctrl.escolherDia(semana[2],ctrl.aulasSemana.terca)" md-truncate>
                            {{ semana[2].data | date:'dd' }}<br />
                            <div class="horarios absolute bottom-zero lista-aulas-td" ng-if="semana[2].efetivo && ctrl.aulasSemana.terca.length > 0">
                                <div class="indicador-aula" ng-if="ctrl.disciplina.id === aula.disciplinaAlocada.id" ng-repeat="aula in ctrl.aulasSemana.terca track by $index">
                                    {{ aula.inicio }} - {{ aula.disciplinaAlocada.sigla }}
                                </div>
                            </div>
                        </td>
                        <td aria-label="aulas_quarta" ng-class="ctrl.classeTipoDia(semana[3],ctrl.aulasSemana.quarta)" ng-click="ctrl.escolherDia(semana[3],ctrl.aulasSemana.quarta)" md-truncate>
                            {{ semana[3].data | date:'dd' }}<br />
                            <div class="horarios absolute bottom-zero lista-aulas-td" ng-if="semana[3].efetivo && ctrl.aulasSemana.quarta.length > 0">
                                <div class="indicador-aula" ng-if="ctrl.disciplina.id === aula.disciplinaAlocada.id" ng-repeat="aula in ctrl.aulasSemana.quarta track by $index">
                                    {{ aula.inicio }} - {{ aula.disciplinaAlocada.sigla }}
                                </div>
                            </div>
                        </td>
                        <td aria-label="aulas_quinta" ng-class="ctrl.classeTipoDia(semana[4],ctrl.aulasSemana.quinta)" ng-click="ctrl.escolherDia(semana[4],ctrl.aulasSemana.quinta)" md-truncate>
                            {{ semana[4].data | date:'dd' }}<br />
                            <div class="horarios absolute bottom-zero lista-aulas-td" ng-if="semana[4].efetivo && ctrl.aulasSemana.quinta.length > 0">
                                <div class="indicador-aula" ng-if="ctrl.disciplina.id === aula.disciplinaAlocada.id" ng-repeat="aula in ctrl.aulasSemana.quinta track by $index">
                                    {{ aula.inicio }} - {{ aula.disciplinaAlocada.sigla }}
                                </div>
                            </div>
                        </td>
                        <td aria-label="aulas_sexta" ng-class="ctrl.classeTipoDia(semana[5],ctrl.aulasSemana.sexta)" ng-click="ctrl.escolherDia(semana[5],ctrl.aulasSemana.sexta)" md-truncate>
                            {{ semana[5].data | date:'dd' }}<br />
                            <div class="horarios absolute bottom-zero lista-aulas-td" ng-if="semana[5].efetivo && ctrl.aulasSemana.sexta.length > 0">
                                <div class="indicador-aula" ng-if="ctrl.disciplina.id === aula.disciplinaAlocada.id" ng-repeat="aula in ctrl.aulasSemana.sexta track by $index">
                                    {{ aula.inicio }} - {{ aula.disciplinaAlocada.sigla }}
                                </div>
                            </div>
                        </td>
                        <td ng-class="ctrl.classeTipoDia(semana[6])" class="no-calendar-right-border" md-truncate>
                            {{ semana[6].data | date:'dd' }}<br />
                        </td>
                    </tr>
                </tbody>
            </table>
            <paginador class="paginador-home"></paginador>
        </div>

        <div ng-show="ctrl.chamada" layout-gt-sm="column">

            <div flex-gt-sm="100" layout="column">
                <md-subheader class="md-primary margin-top-subheader form-header">Anotações da aula</md-subheader>
                <md-card class="no-margin-up-down" flex-gt-sm="100">
                    <md-card-content>
                        <div flex-gt-sm="100">

                            <div class="row" ng-show="ctrl.aulas.length > 1" style="margin-top: 52px;">
                                <md-input-container class="md-icon-float" md-block flex-gt-sm>
                                    <label for="aula">Aula</label>
                                    <md-icon class="material-icons">school</md-icon>
                                    <md-select ng-change="ctrl.atualizarListaFrequencia(ctrl.aula)" ng-model="ctrl.aula" id="aula" name="aula" required>
                                        <md-option ng-repeat="item in ctrl.aulas track by $index" ng-value="item">{{ item.dia.data | date:"dd/MM/yyyy" }} - {{ item.horario.inicio | date:"hh:mm" }}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div class="row">
                                <md-input-container class="md-icon-float" md-block flex-gt-sm flex="90">
                                    <md-icon class="material-icons">bookmark</md-icon>
                                    <label for="conteudo">Adicionar Anotação</label>
                                    <textarea ng-model="ctrl.conteudo" rows="1" md-select-on-focus></textarea>
                                </md-input-container>
                                <md-button style="margin-top: -28px !important;" flex="10" md-colors="::{backgroundColor: 'default-accent-500'}" ng-click="ctrl.salvarAnotacao()" class="md-raised save-button-fix">Salvar</md-button>
                            </div>

                            <div class="row">
                                <md-list class="md-dense" flex>
                                    <md-list-item style="border-top: 1px solid #eee; border-bottom: 1px solid #eee;" ng-repeat="anotacao in ctrl.anotacoes">
                                        <div class="md-list-item-text" style="margin-top: initial !important;"><h3>Anotação {{$index+1}}: {{ anotacao.conteudo }}</h3></div>
                                        <div class="md-secondary">
                                            <md-button class="md-icon-button" ng-click="ctrl.removerAnotacao($event,anotacao)" aria-label="Remover Anotação"><md-icon class="material-icons">delete</md-icon></md-button>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </div>

                        </div>
                    </md-card-content>
                </md-card>
            </div>

            <div flex-gt-sm="100" layout="column">
                <md-subheader class="md-primary margin-top-subheader form-header">Chamada: {{ ctrl.diaSelecionado.data | date:'dd/MM/yyyy' }}</md-subheader>
                <md-card class="no-margin-up-down" flex-gt-sm="100">
                    <md-card-content class="no-padding">
                        <div flex-gt-sm="100">
                            <div class="row" style="padding: 15px;">
                                <span class="presenca-cor"><md-icon class="material-icons presenca-cor">done</md-icon></span> <small>Presença</small>
                                <span class="falta-cor"><md-icon class="material-icons falta-cor">clear</md-icon></span> <small>Falta</small>
                                <span class="falta-justificada-cor"><md-icon class="material-icons desabilitada-cor">feedback</md-icon></span> <small>Falta Justificada</small>
                            </div>

                            <div class="expansion-wrapper" ng-repeat="aluno in ctrl.alunos track by $index">
                                <div layout="row" layout-align="left center" ng-class="ctrl.ultimoPainel($index, aluno.status)" style="padding: 5px 15px 5px 15px; margin: 0;" class="condensed-panel-{{ $index }} condensed-panel md-whiteframe-2dp relative">
                                    <div flex layout="row" layout-align="start center">
                                        <span ng-click="ctrl.mostraCameraStream(aluno.aluno.id)"><img ng-src="{{ aluno.aluno.urlFoto }}" alt="{{ aluno.aluno.nome }}" class="avatar-mascara clicavel aluno-foto-{{aluno.aluno.id}}"></span>
                                        <strong ng-click="ctrl.abrirPainel($index, aluno)" class="w100" style="padding-top: 20px; padding-bottom: 20px;">{{ aluno.aluno.nome }}</strong>
                                    </div>
                                    <div flex layout="row" layout-align="end center">
                                        <md-button class="btn-accordion" ng-click="ctrl.darFrequencia(aluno,true,true)" ng-show="aluno.status === 'PRESENCA'"><md-icon class="material-icons presenca-cor">done</md-icon></md-button>
                                        <md-button class="btn-accordion" ng-click="ctrl.darFrequencia(aluno,true,true)" ng-show="aluno.status === 'FALTA'"><md-icon class="material-icons falta-cor">clear</md-icon></md-button>
                                        <md-button class="btn-accordion" ng-click="ctrl.darFrequencia(aluno,true,true)" ng-show="aluno.status === 'FALTA_JUSTIFICADA'"><md-icon class="material-icons desabilitada-cor">feedback</md-icon></md-button>
                                    </div>
                                </div>
                                <div class="expanded-panel-{{ $index }} expanded-panel md-whiteframe-3dp">
                                    <div layout="row" ng-click="ctrl.fecharPainel()" layout-align="left center" class="row expanded-title clicavel">
                                        <div flex layout="row" layout-align="start center">
                                            <img src="{{ aluno.aluno.urlFoto }}" alt="{{ aluno.aluno.nome }}" class="avatar-mascara">
                                            <strong>{{ aluno.aluno.nome }}</strong>
                                        </div>
                                        <div flex layout="row" layout-align="end center">
                                            <md-button class="btn-accordion" ng-click="ctrl.darFrequencia(aluno,true,true)" ng-show="aluno.status === 'PRESENCA'"><md-icon class="material-icons presenca-cor">done</md-icon></md-button>
                                            <md-button class="btn-accordion" ng-click="ctrl.darFrequencia(aluno,true,true)" ng-show="aluno.status === 'FALTA'"><md-icon class="material-icons falta-cor">clear</md-icon></md-button>
                                            <md-button class="btn-accordion" ng-click="ctrl.darFrequencia(aluno,true,true)" ng-show="aluno.status === 'FALTA_JUSTIFICADA'"><md-icon class="material-icons desabilitada-cor">feedback</md-icon></md-button>
                                        </div>
                                    </div>
                                    <div class="row"style="padding-top: 15px;">
                                        <md-content style="background: #fff; margin-left: 10px; margin-right: 10px;">
                                            <md-input-container class="md-icon-float" md-block flex-gt-sm>
                                                <label for="justificativa">Justificativa</label>
                                                <md-icon class="material-icons">feedback</md-icon>
                                                <input id="justificativa" ng-model="ctrl.alunoSelecionado.justificativa" type="text" name="justificativa"/>
                                            </md-input-container>
                                        </md-content>
                                        <md-button md-colors="::{backgroundColor: 'default-accent-500'}" ng-click="ctrl.atualizarJustificativa()" class="md-raised save-button-fix">Salvar</md-button>
                                        <md-divider style="margin-top: 10px;"></md-divider>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
    
    <div layout="row" ng-if="!ctrl.possuiEnturmacoes" layout-align="center center" style="margin-top: 25px;">
        Não há alunos enturmados.
    </div>
</div>