<div ng-cloak ng-controller="AulaController as ctrl">
    <div class="calendarHome" ng-hide="ctrl.chamada">
        <div style="border-bottom: 1px solid #eee; text-align: center; font-size: 2rem; padding: 10px 0 10px 0;">
            {{ ctrl.nomeMes }} / {{ ctrl.ano }}
        </div>
        <table class="w100 aulas-table" style="margin-bottom: 50px;">
            <thead hide show-gt-sm><th>Domingo</th><th>Segunda</th><th>Terça</th><th>Quarta</th><th>Quinta</th><th>Sexta</th><th>Sábado</th></thead>
            <thead hide-gt-sm><th>Dom</th><th>Seg</th><th>Ter</th><th>Qua</th><th>Qui</th><th>Sex</th><th>Sáb</th></thead>
            <tbody>
                <tr ng-repeat="semana in ctrl.mesCalendario">
                    <td ng-class="ctrl.classeTipoDia(semana[0])" md-truncate>
                        {{ semana[0].data | date:'dd' }}<br />
                    </td>
                    <td ng-class="ctrl.classeTipoDia(semana[1])" ng-click="ctrl.escolherDia(semana[1],ctrl.aulasSemana.segunda)" md-truncate>
                        {{ semana[1].data | date:'dd' }}<br />
                        <div class="horarios absolute bottom-zero lista-aulas-td" ng-if="semana[1].efetivo && ctrl.aulasSemana.segunda.length > 0">
                            <div ng-if="ctrl.disciplina.id === aula.disciplinaAlocada.id" ng-repeat="aula in ctrl.aulasSemana.segunda track by $index">
                                {{ aula.inicio }} - {{ aula.disciplinaAlocada.sigla }}
                            </div>
                        </div>
                    </td>
                    <td ng-class="ctrl.classeTipoDia(semana[2])" ng-click="ctrl.escolherDia(semana[2],ctrl.aulasSemana.terca)" md-truncate>
                        {{ semana[2].data | date:'dd' }}<br />
                        <div class="horarios absolute bottom-zero lista-aulas-td" ng-if="semana[2].efetivo && ctrl.aulasSemana.terca.length > 0">
                            <div ng-if="ctrl.disciplina.id === aula.disciplinaAlocada.id" ng-repeat="aula in ctrl.aulasSemana.terca track by $index">
                                {{ aula.inicio }} - {{ aula.disciplinaAlocada.sigla }}
                            </div>
                        </div>
                    </td>
                    <td ng-class="ctrl.classeTipoDia(semana[3])" ng-click="ctrl.escolherDia(semana[3],ctrl.aulasSemana.quarta)" md-truncate>
                        {{ semana[3].data | date:'dd' }}<br />
                        <div class="horarios absolute bottom-zero lista-aulas-td" ng-if="semana[3].efetivo && ctrl.aulasSemana.quarta.length > 0">
                            <div ng-if="ctrl.disciplina.id === aula.disciplinaAlocada.id" ng-repeat="aula in ctrl.aulasSemana.quarta track by $index">
                                {{ aula.inicio }} - {{ aula.disciplinaAlocada.sigla }}
                            </div>
                        </div>
                    </td>
                    <td ng-class="ctrl.classeTipoDia(semana[4])" ng-click="ctrl.escolherDia(semana[4],ctrl.aulasSemana.quinta)" md-truncate>
                        {{ semana[4].data | date:'dd' }}<br />
                        <div class="horarios absolute bottom-zero lista-aulas-td" ng-if="semana[4].efetivo && ctrl.aulasSemana.quinta.length > 0">
                            <div ng-if="ctrl.disciplina.id === aula.disciplinaAlocada.id" ng-repeat="aula in ctrl.aulasSemana.quinta track by $index">
                                {{ aula.inicio }} - {{ aula.disciplinaAlocada.sigla }}
                            </div>
                        </div>
                    </td>
                    <td ng-class="ctrl.classeTipoDia(semana[5])" ng-click="ctrl.escolherDia(semana[5],ctrl.aulasSemana.sexta)" md-truncate>
                        {{ semana[5].data | date:'dd' }}<br />
                        <div class="horarios absolute bottom-zero lista-aulas-td" ng-if="semana[5].efetivo && ctrl.aulasSemana.sexta.length > 0">
                            <div ng-if="ctrl.disciplina.id === aula.disciplinaAlocada.id" ng-repeat="aula in ctrl.aulasSemana.sexta track by $index">
                                {{ aula.inicio }} - {{ aula.disciplinaAlocada.sigla }}
                            </div>
                        </div>
                    </td>
                    <td ng-class="ctrl.classeTipoDia(semana[6])" class="no-calendar-right-border" md-truncate>
                        {{ semana[6].data | date:'dd' }}<br />
                    </td>
                </tr>
            </tbody>
        </table>
        <botao-voltar></botao-voltar>
        <paginador></paginador>
    </div>

    <div ng-show="ctrl.chamada" layout-gt-sm="row">
        <md-card flex-gt-sm="100">
            <md-card-content>
                <div flex-gt-sm="100">

                    <md-button ng-click="ctrl.fecharForm()" class="md-icon-button" style="top: 22px;" aria-label="Voltar">
                        <md-tooltip md-direction="left">Voltar</md-tooltip>
                        <md-icon style="color: #000;" class="material-icons">arrow_back</md-icon>
                    </md-button>
                
                    <h1>Chamada do dia: {{ ctrl.diaSelecionado.data | date:'dd/MM/yyyy' }}</h1>

                    <md-grid-list hide show-gt-md md-cols-gt-sm="5" md-cols-xs="2" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="5" 
                    md-gutter="12px" md-gutter-xs="2px" md-row-height="1:1">
                        <md-grid-tile ng-repeat="aluno in ctrl.alunos">
                            <md-card flex-gt-sm="100" style="position:relative; cursor: pointer; overflow: hidden;" ng-click="ctrl.darNotas(aluno,true,true)">
                                <img ng-show="aluno.urlFoto !== undefined" src="{{ aluno.urlFoto }}" style="width: 100%; height: 100%;" alt="{{ aluno.disciplinaCursada.matricula.nomeAluno }}">
                                <img ng-show="aluno.urlFoto === undefined" src="{{ ctrl.erudioConfig.dominio }}/apps/professor/avaliacoes/assets/images/avatar.png" style="width: 100%; height: 100%;" alt="{{ aluno.disciplinaCursada.matricula.nomeAluno }}">
                                <div style="position: absolute; bottom: 0; width: 100%; height: 50px; overflow: hidden; background: #000; opacity: 0.7;">
                                    <md-truncate><h4 style="color: #fff; margin-top: 17px;" class="modal-title">{{ aluno.disciplinaCursada.matricula.nomeAluno }}</h4></md-truncate>
                                </div>
                            </md-card>
                        </md-grid-tile>
                    </md-grid-list>
        
                    <md-list hide-gt-md class="md-dense" flex>
                        <md-list-item ng-repeat="aluno in ctrl.mediasModal" ng-click="ctrl.darNotas(aluno,true,true)">
                            <img ng-show="aluno.urlFoto !== undefined" src="{{ aluno.urlFoto }}" alt="{{ aluno.disciplinaCursada.matricula.nomeAluno }}" class="md-avatar">
                            <img ng-show="aluno.urlFoto === undefined" src="{{ ctrl.erudioConfig.dominio }}/apps/professor/avaliacoes/assets/images/avatar.png" alt="{{ aluno.disciplinaCursada.matricula.nomeAluno }}" class="md-avatar">
                            <div class="md-list-item-text"><h3>{{ aluno.disciplinaCursada.matricula.nomeAluno }}</h3></div>
                        </md-list-item>
                    </md-list>

                    <!--<md-card-content class="no-padding">
                        <md-list flex class="no-padding white-content">
                            <md-list-item style="border-bottom: 1px solid #eee;" id="objeto{{ objeto.id }}" class="md-2-line" ng-repeat="objeto in ctrl.avaliacoesDia">
                                <a class="link-list"><div class="md-list-item-text" layout="column">
                                    <div>
                                        <h3>{{ objeto.nome }}</h3>
                                        <p>{{ objeto.disciplina.nomeExibicao }}<span ng-if="objeto.dataEntrega.length"> - {{ objeto.dataEntrega | date:'dd/MM/yyyy' }}</span></p>
                                    </div>
                                </div></a>
                            </md-list-item>
                        </md-list>

                        <div flex="100" ng-show="ctrl.msgVazioDia">
                            Nenhuma avaliação registrada para hoje.
                        </div>
                    </md-card-content> -->

                </div>
            </md-card-content>
        </md-card>
    </div>
</div>