{% if categoria and categoria.categoriaPai %}
    {% include "SuporteTecnicoBundle:Categoria:comboCategoria.html.twig" with {'categoria': categoria.categoriaPai, 'subcategoria': categoria} %}
{% else %}
    <select required onchange="if($(this).val()) { loadComboCategoria($(this).val()); loadTags($(this).val()); }" class="comboCategoria form-control" style="width: auto; float: left;">
        <option value="">Selecione uma categoria</option>
        {% for c in categoriasRaiz %}
            <option value="{{c.id}}" {% if categoria and c.id == categoria.id %}selected{% endif %} >
                {{c.nome}}
            </option>
        {% endfor %}
    </select>
{% endif %}

{% if categoria and categoria.subcategorias|length %}
    <select required onchange="if($(this).val()) { loadComboCategoria($(this).val()); loadTags($(this).val()); }" class="comboCategoria form-control" style="width: auto; float: left;">
        <option value="">Selecione uma subcategoria</option>
        {% for c in categoria.subcategorias %}
            <option value="{{c.id}}" {% if subcategoria and c.id == subcategoria.id %}selected{% endif %} >
                {{c.nome}}
            </option>
        {% endfor %}
    </select>
{% endif %}
