<div layout-gt-sm="row">
    
    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="nome">Nome</label>
        <md-icon class="material-icons">account_circle</md-icon>
        <input id="nome" ng-model="etapa.nome" type="text" name="nome" required/>
        <div ng-messages="etapaForm.etapa.nome.$error" class="errors-wrapper">
            <div ng-message="required">Este campo é obrigatório.</div>
        </div>
    </md-input-container>
    
    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="nomeExibicao">Nome de Exibição</label>
        <md-icon class="material-icons">assignment_ind</md-icon>
        <input id="nome" ng-model="etapa.nomeExibicao" type="text" name="nomeExibicao" required/>
        <div ng-messages="etapaForm.etapa.nomeExibicao.$error" class="errors-wrapper">
            <div ng-message="required">Este campo é obrigatório.</div>
        </div>
    </md-input-container>

</div>

<div layout-gt-sm="row">
    
    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="ordem">Ordem</label>
        <md-icon class="material-icons">list</md-icon>
        <input id="cnpj" class="maskDoisNumeros" ng-model="etapa.ordem" type="text" name="ordem" required/>
        <div class="hint">Apenas Números</div>
        <div ng-messages="etapaForm.etapa.ordem.$error" class="errors-wrapper">
            <div ng-message="required">Este campo é obrigatório.</div>
        </div>
    </md-input-container>
    
    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="limite">Limite de Alunos</label>
        <md-icon class="material-icons">crop_free</md-icon>
        <input id="cnpj" class="maskDoisNumeros" ng-model="etapa.limiteAlunos" type="text" name="limite" required/>
        <div class="hint">Apenas Números</div>
        <div ng-messages="etapaForm.etapa.limiteAlunos.$error" class="errors-wrapper">
            <div ng-message="required">Este campo é obrigatório.</div>
        </div>
    </md-input-container>
    
</div>

<div layout-gt-sm="row">
    
    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="modulo">Módulo</label>
        <md-icon class="material-icons">extension</md-icon>
        <md-select ng-model="etapa.modulo.id" id="modulo" name="modulo" required>
            <md-option value=""></md-option>
            <md-option ng-repeat="item in ctrl.modulos track by $index" value="{{ item.id }}">{{ item.nome }}</md-option>
        </md-select>
        <div ng-messages="etapaForm.etapa.modulo.id.$error" class="errors-wrapper">
            <div ng-message="required">Este campo é obrigatório.</div>
        </div>
    </md-input-container>
    
    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="sistemaavaliacao">Sistema de Avaliação</label>
        <md-icon class="material-icons">receipt</md-icon>
        <md-select ng-model="etapa.sistemaAvaliacao.id" id="sistemaavaliacao" name="sistemaavaliacao" required>
            <md-option value=""></md-option>
            <md-option ng-repeat="item in ctrl.sistemasAvaliacoes track by $index" value="{{ item.id }}">{{ item.nome }}</md-option>
        </md-select>
        <div ng-messages="etapaForm.etapa.sistemaAvaliacao.id.$error" class="errors-wrapper">
            <div ng-message="required">Este campo é obrigatório.</div>
        </div>
    </md-input-container>
    
</div>

<div layout-gt-sm="row">
    
    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="modelohorario">Modelo de Grade de Horário</label>
        <md-icon class="material-icons">view_quilt</md-icon>
        <md-select ng-model="etapa.modeloQuadroHorario.id" id="modelohorario" name="modelohorario" required>
            <md-option value=""></md-option>
            <md-option ng-repeat="item in ctrl.modeloGradeHorario track by $index" value="{{ item.id }}">{{ item.nome }}</md-option>
        </md-select>
        <div ng-messages="etapaForm.etapa.modeloQuadroHorario.id.$error" class="errors-wrapper">
            <div ng-message="required">Este campo é obrigatório.</div>
        </div>
    </md-input-container>
    
    <md-input-container class="md-icon-float" md-block flex-gt-sm ng-show="ctrl.mostraCurso">
        <label for="curso">Curso</label>
        <md-icon class="material-icons">school</md-icon>
        <md-select ng-model="etapa.curso.id" id="curso" name="curso">
            <md-option value=""></md-option>
            <md-option ng-repeat="item in ctrl.cursos track by $index" value="{{ item.id }}">{{ item.nome }}</md-option>
        </md-select>
    </md-input-container>
    
</div>

<div layout-gt-sm="row">
    
    <md-input-container class="md-icon-float" md-block flex-gt-sm>
        <label for="idade">Idade Recomendada</label>
        <md-icon class="material-icons">filter_7</md-icon>
        <input id="nome" ng-model="etapa.idadeRecomendada" type="text" name="idade"/>
    </md-input-container>

</div>

<div layout="row" layout-wrap><div flex="100" layout="row"><md-checkbox ng-model="etapa.integral">Curso Integral</md-checkbox></div></div>