{% extends 'FilaUnicaBundle:Index:index.html.twig' %}

{% block headerTitle %} Fila Única > Movimentação Interna > Pesquisa por Data {% endblock %}

{% block page %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Pesquisa</a></li>
        <li><a href="{{path('fu_movimentacaoInterna_formCadastro')}}">Cadastro</a></li>
    </ul>
        <form target="_blank" id="formPesquisaMovimentacao" method="post" action="{{path('fu_movimentacaoInterna_pesquisar')}}">
        <div class="row">
            <div class="col-lg-6">
                <label for="dataInicio">Inicío do Período:</label>
                <input id="dataInicio" name="dataInicio" required type="text" class="form-control datepickerSME" />
            </div>
            <div class="col-lg-6">
                <label for="dataTermino">Término do Período:</label>
                <input id="dataTermino" name="dataTermino" required type="text" class="form-control datepickerSME" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button id="btnGerar" type="button" class="btn btn-primary">Pesquisar</button>
                <button id="btnImprimir" type="submit" formaction="{{path('fu_movimentacaoInterna_imprimirPeriodo')}}" class="btn btn-primary">Imprimir</button>
            </div>
        </div>
    </form>
    <div id="divMovimentacoes"></div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        $("#btnGerar").click( function() {
            $.ajax({
                type: "POST",
                url: $("#formPesquisaMovimentacao").attr("action"),
                data: $("#formPesquisaMovimentacao").serialize(),
                success: function(retorno){
                    $("#divMovimentacoes").html(retorno);  
                }
            });
        });
    </script>
{% endblock %}

